<p-dataTable
[value]="productsAvailables$ | async"
[lazy]="true"
[rows]="25"
[paginator]="true"
[totalRecords]="totalRecords"
(onLazyLoad)="loadProdutosLazy($event)"
[pageLinks]="5"
[responsive]="true"
[sortOrder]="-1"
[loading]="carregando"
 loadingIcon="ion-load-a"
 rowHover="true"
 sortField="createdAt" styleClass="borderless">

<p-column field="createdAt" header="Data"  [filter]="true" [style]="{'width':'100px'}">
  <ng-template let-productAvailable="rowData" pTemplate="body">  {{ productAvailable?.createdAt | date: 'dd/MM/yyyy'}}</ng-template>
</p-column>

<p-column field="description" header="Descrição do Produto"  [filter]="true" [style]="{'width':'100px'}">
  <ng-template let-productAvailable="rowData" pTemplate="body">  {{ productAvailable?.description | uppercase }}</ng-template>
</p-column>

<p-column field="serialNumber" header="N. Serial"  [filter]="true" [style]="{'width':'100px'}">
  <ng-template let-productAvailable="rowData" pTemplate="body">  {{ productAvailable?.serialNumber }}</ng-template>
</p-column>

<p-column field="baseStock" header="Base"  [filter]="true" [style]="{'width':'100px'}">
  <ng-template let-productAvailable="rowData" pTemplate="body">  {{ productAvailable?.baseStock | uppercase }}</ng-template>
</p-column>

<p-column field="status" header="Status" [filter]="true" [style]="{'width':'100px'}">
  <ng-template let-productAvailable="rowData" pTemplate="body">  {{ productAvailable?.status | uppercase }}</ng-template>
</p-column>

  <p-column styleClass="col-button" [style]="{'width':'20px', 'text-align': 'center'}">
    <ng-template let-productAvailable="rowData" pTemplate="body">
      <button type="button"
      *ngIf="productAvailable?.status === 'disponivel'"
      pButton icon="fa fa-pencil"
      routerLink="/pages/produto-disponivel/editar-produto-disponivel/{{ productAvailable._id }}"></button>
    </ng-template>
  </p-column>

  <ng-template pTemplate="emptymessage">
      <p *ngIf="carregando" >Buscando produtos disponíveis...</p>
      <p *ngIf="!carregando">Nenhum produto disponível</p>
  </ng-template>

</p-dataTable>
