@import './../../theme/sass/conf/conf.scss';
img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1.8px solid #fff;
}

.container {
  min-width: 70vw;
}

.dados-cliente {
  background: #0093D7;
  text-align: center;
  box-shadow: 3px 0 6px 1px rgb(174, 173, 173);
}

.em_deslocamento_cor {
  border: 2px solid #BE443B;
}

.chegou_ao_destino_cor {
  border: 2px solid #215CA1;
}

.inicio_atendimento_cor {
  border: 2px solid #53bb96;
}

.atendimento_concluido_cor {
  color: green;
}

%estado {
  height: 3px;
}

.em_deslocamento_linha {
  @extend %estado;
  background-color: #BE443B;
}

.chegou_ao_destino_linha {
  @extend %estado;
  background-color: #215CA1;
}

.inicio_atendimento_linha {
  @extend %estado;
  background-color: #53bb96;
}

li {
  list-style: none;
  font-size: 40px;
  text-decoration-color: white;
  color: white;
}

h5{
  color: rgb(114, 114, 114);
}


h4{
  color: white;
  text-shadow: 1px 1px 2px #3B3B3B;
}

