


@import './../../theme/sass/conf/conf.scss';

img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1.8px solid #fff;
}

.em_deslocamento_imagem {
  border: 2px solid #BE443B;
}

.chegou_ao_destino_imagem{
  border: 2px solid #215CA1;
}

.inicio_atendimento_imagem {
  border: 2px solid #53bb96;
}

.atendimento {
  cursor: pointer;
}

.atendimento_concluido {
  color: green;
}

%estado {
  height: 2px;
}
.em_deslocamento_linha {
  @extend %estado;
  background-color: #BE443B;
}

.chegou_ao_destino_linha {
  @extend %estado;
  background-color: #215CA1;
}

.inicio_atendimento_linha {
  @extend %estado;
  background-color: #53bb96;
}

table {
  background: transparent !important;
}

table > tbody > tr > td, th {
    border-top: none;
    text-align: center;
}

td {
    font-size: 22px;
    color: $primary;
}

h4, th {
    color: #878787;
}

.list-group-item {
  border: none;
  background: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: $primary;
  color: white;
}
