<!-- <div class="row">
  <div class="col-md-4 col-sm-12 t" *ngFor="let tecnico of tecnicos$ | async; let i = index">
    <ba-card>
      <div class="text-center">
        <img [ngClass]="{
                'em_deslocamento_imagem': tecnico?.estado === 'em_deslocamento',
                'chegou_ao_destino_imagem': tecnico?.estado === 'chegou_ao_destino',
                'inicio_atendimento_imagem': tecnico?.estado === 'inicio_atendimento'}"
        *ngIf="tecnico?.foto_url" [src]="tecnico?.foto_url" alt="Foto técnico">

        <img [ngClass]="{
                'em_deslocamento_imagem': tecnico?.estado === 'em_deslocamento',
                'chegou_ao_destino_imagem': tecnico?.estado === 'chegou_ao_destino',
                'inicio_atendimento_imagem': tecnico?.estado === 'inicio_atendimento'}"
        *ngIf="!tecnico?.foto_url" src="/assets/img/avatar.png">

        <h4>{{ tecnico?.nome }}</h4>
        <h6 *ngIf="tecnico?.estado === 'em_deslocamento'">Em deslocamento</h6>
        <h6 *ngIf="tecnico?.estado === 'chegou_ao_destino'">Chegou no cliente</h6>
        <h6 *ngIf="tecnico?.estado === 'inicio_atendimento'">Atendimento iniciado</h6>
        <h6 *ngIf="!tecnico?.estado">Disponível</h6>
      </div>
      <hr [ngClass]="{
              'em_deslocamento_linha': tecnico?.estado === 'em_deslocamento',
              'chegou_ao_destino_linha': tecnico?.estado === 'chegou_ao_destino',
              'inicio_atendimento_linha': tecnico?.estado === 'inicio_atendimento' }">
      <div class="table table">
        <table class="table">
          <thead>
            <tr class="border-top: none">
              <th>Atendimentos</th>
              <th>Avaliação</th>
              <th>Concluídos</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-top: none">
              <td><i class="ion-settings"></i> {{ tecnico?.atendimentos?.length || 0}}</td>
              <td *ngIf="tecnico?.atendimentos_hoje"><i [ngClass]="{'ion-ios-star-half': tecnico?.media > 0, 'ion-star': tecnico?.media >= 3, 'ion-trophy': tecnico?.media === 5, 'ion-ios-star-outline': tecnico?.media === 0}"></i>                {{ tecnico?.media || 0 | number: '1.2-2'}}</td>
              <td *ngIf="tecnico?.atendimentos_hoje"><i class="ion-checkmark"></i> {{ tecnico?.concluido?.length || 0 }} / {{ tecnico?.atendimentos_hoje?.length
                }}</td>
            </tr>
          </tbody>
        </table>
          <div class="row" *ngFor="let atendimento of tecnico?.atendimentos_hoje">
              <div class="col-12 mt-2">
                <div class="row">
                  <div class="col-10">
                    <h5 class="text-center">Atendimento</h5>
                    <p [ngClass]="{'atendimento_concluido': atendimento?.estado === 'fim_do_atendimento'}"
                    class="atendimento text-center" routerLink="/pages/atendimentos/dados-app/{{ atendimento?._id }}">
                      <i
                      [ngClass]="{
                        'ion-checkmark': atendimento?.estado === 'fim_do_atendimento',
                        'ion-model-s': atendimento?.estado === 'em_deslocamento',
                        'ion-location': atendimento?.estado === 'chegou_ao_destino',
                        'ion-wrench': atendimento?.estado === 'inicio_atendimento',
                        'ion-load-a': atendimento?.estado === 'associado'}">
                      </i>
                       {{atendimento.cliente.nome_razao_social | slice: 0:25}}.</p>
                  </div>

                  <div class="col-2">
                    <h5>Nota</h5>
                    <p class="text-center">{{ atendimento?.media}}</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
    </ba-card>
  </div>
</div> -->

<!-- <section class="carousel slide" data-ride="carousel" id="postsCarousel">

    <div class="container p-t-0 m-t-2 carousel-inner">
        <div class="row row-equal carousel-item active m-t-0">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-img-top card-img-top-500">
                        <img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
                    </div>
                    <div class="card-block p-t-2">
                        <h6 class="small text-wide p-b-2">Insight</h6>
                        <h2>
                            <a href>Why Stuff Happens Every Year.</a>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-img-top card-img-top-500">
                        <img class="img-fluid" src="http://i.imgur.com/Hw7sWGU.png" alt="Carousel 2">
                    </div>
                    <div class="card-block p-t-2">
                        <h6 class="small text-wide p-b-2">Development</h6>
                        <h2>
                            <a href>How to Make Every Line Count.</a>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-img-top card-img-top-500">
                        <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
                    </div>
                    <div class="card-block p-t-2">
                        <h6 class="small text-wide p-b-2">Design</h6>
                        <h2>
                            <a href>Responsive is Essential.</a>
                        </h2>
                    </div>
                </div>
            </div>

        </div>



        <div class="row row-equal carousel-item m-t-0">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-img-top card-img-top-500">
                        <img class="img-fluid" src="//visualhunt.com/photos/l/1/office-student-work-study.jpg" alt="Carousel 4">
                    </div>
                    <div class="card-block p-t-2">
                        <h6 class="small text-wide p-b-2">Another</h6>
                        <h2>
                            <a href>Tagline or Call-to-action.</a>
                        </h2>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section> -->

