@import './../../theme/sass/conf/conf.scss';

.container {
  min-width: 80vw;
  min-height: 65vh;
}

.card  {
  min-height: 65vh;
}

%sombra-perfil-tecnico {
  text-shadow: 1px 1px 1px #3B3B3B;
}

.perfil-tecnico {
  background: #0093D7;
  text-align: center;
  box-shadow: 3px 0 6px 1px rgb(174, 173, 173);
  height: 65vh;

  #estado, #nome-tecnico, #media-avaliacao {
    @extend %sombra-perfil-tecnico;
  }

  .foto-tecnico {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.5);
  }

  .metricas {
    margin-top: 40px;
    margin-right: 30px;
    li {
      list-style: none;
      font-size: 40px;
      text-decoration-color: white;
      color: white;
      i {
        @extend %sombra-perfil-tecnico;
      }
    }
  }
}

#atendimento, #avaliacao {
  cursor: pointer;
  &:hover {
    color: #0093D7;
  }
}

.sem-atendimentos {
  margin-top: 10%;
  color: rgb(160, 160, 160);
}

.progresso-atendimento {
  margin-top: 2.8%;
}
