table {
  margin: 0 0 0 16px;
}

table tr td, tr th {
  text-align: center;
}

table tr td.description, tr th.description {
  text-align: left;
}

.equipment-info {
  margin: 25px 0 0 16px;
}

.info-client p {
  margin: 0;
}
