<ul class="al-msg-center clearfix">
  <li class="dropdown">
    <a href class="dropdown-toggle" id="msg-dd1" data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-bell-o"></i><span>{{ notifications?.length || 0 }}</span>
      <div class="notification-ring"></div>
    </a>

    <div class="top-dropdown-menu dropdown-menu" aria-labelledby="msg-dd1">
      <i class="dropdown-arr"></i>

      <div class="header clearfix">
        <strong>Notificações</strong>
        <a>Marcar tudo como lido</a>
      </div>
      <div class="msg-list">
        <a *ngFor="let msg of notifications" class="clearfix">
          <!-- <div class="img-area">
            <img [ngClass]="{'photo-msg-item': !msg.image}" src="/assets/icons/check.png">
          </div> -->
          <div class="msg-area">
            <div><strong>{{ msg.title }}</strong> - {{ msg.message }}</div>
            <span>{{ msg?.user_created | uppercase }} - {{ msg.date | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
        </a>
      </div>
      <a href>Ver todas as notificações</a>
    </div>
  </li>
</ul>
