<form [formGroup]="formDadosPrincipais">

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" formControlName="cnpj_cpf" placeholder="CNPJ ou CPF">
        </div>
      
        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" formControlName="razao_social" placeholder="Razão Social ou Nome">
        </div>
      
        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" formControlName="inscricao_estadual" placeholder="Inscrição Estadual">
        </div>
      
        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" formControlName="nome_fantasia" placeholder="Nome Fantasia">
        </div>
      </div>
      
</form>