<div class="row">

  <div class="col-md-2 col-sm-12">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Data">
    </div>
  </div>

  <div class="col-md-5 col-sm-12">
    <div class="form-group">
      <select class="form-control" disabled>
        <option value="" disabled selected>Selecione o tipo de avaliação</option>
        <option>Entrega</option>
        <option>Instalação</option>
        <option>Encaixe</option>
        <option>Reparo</option>
      </select>
    </div>
  </div>

  <div class="col-md-5 col-sm-12">
    <div class="form-group">
      <select class="form-control">
        <option value="" disabled selected>Selecione o tipo do atendimento</option>
        <option>Entrega</option>
        <option>Instalação</option>
        <option>Encaixe</option>
        <option>Reparo</option>
      </select>
    </div>
  </div>

  <div class="col-md-12 col-sm-12">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="Descrição do atendimento"></textarea>
    </div>
  </div>

</div>

