@import '../../../../theme/sass/conf/conf';

a {
    padding: 10px;
    &:hover {
        cursor: pointer;
    }
}

i {
    &:hover {
        color: $danger;
    }
}

.atendimento {
    &:hover {
        color: $primary;
        cursor: pointer; 
    }
}
