<div class="row">

  <div class="col-md-12 col-sm-12">
    <ba-card>
      <div class="row">

        <div class="col-md-6 col-sm-12 col-xs-12" *ngFor="let tecnico of tecnicos">
          <ba-card cardTitle="{{tecnico.nome}}">
            <button type="button" class="btn btn-primary pull-right" (click)="openModal(tecnico.nome)">
          <strong>+</strong>
          </button>

            <p *ngIf="atendimentos.length"><strong>Atendimentos selecionados</strong></p>

            <div class="card-body" *ngFor="let atendimento of atendimentos">
              <p>{{atendimento.razao_social}}</p>
            </div>



          </ba-card>

        </div>
      </div>

    </ba-card>
  </div>

