@import '../../../../theme/sass/conf/conf';

button {
    // margin-top: -3.5em;
    &:hover {
        background-color: $primary;
        border: none;
    }
    &:active {
        border: none !important;
        outline: none !important;
    }
    &:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

