<div class="row">

  <div class="col-md-12 col-sm-12">
    <ba-card>
      <div class="row">

        <div class="col-md-6 col-sm-12 col-xs-12" *ngFor="let tecnico of tecnicos">
          <ba-card cardTitle="{{tecnico.nome}}">
            <p [dragula]='"associar"'><strong>Atendimentos</strong></p>
            <button type="button" class="btn btn-outline-primary pull-right" 
            data-toggle="modal" data-target="#exampleModal">
            <strong>+</strong>
          </button>

          </ba-card>

        </div>
      </div>

    </ba-card>
  </div>


<app-atendimentos-disponiveis></app-atendimentos-disponiveis>

