<!-- Card com os inputs de dados principais do funcionário -->
  <div class="row" [formGroup]="dadosPrincipaisFuncionario">

    <div class="col-md-9">
      <div class="row">

        <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-12" [class.required]="dadosPrincipaisFuncionario.hasError('required')">
          <label for="nome">Nome completo</label>
          <input type="text" class="form-control"
          formControlName="nome" id="nome">
        </div>

         <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-4" [class.required]="dadosPrincipaisFuncionario.hasError('required')">
          <label for="rg">RG</label>
          <input type="text" class="form-control"
          formControlName="rg" id="rg" [textMask]="{ mask : mascaraRg }">

          <div class="text-danger" ngxErrors="rg" #myError="ngxErrors">
            <div ngxError="required" when="touched">
              <small>Requerido!</small>
            </div>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-4" [class.required]="dadosPrincipaisFuncionario.hasError('required')">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control"
          formControlName="cpf" id="cpf" [textMask]="{ mask : mascaraCpf }">

          <div class="text-danger" ngxErrors="cpf" #myError="ngxErrors">
            <div ngxError="required" when="touched">
              <small>Requerido!</small>
            </div>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-4" [class.required]="dadosPrincipaisFuncionario.hasError('required')">
          <label for="data_nasc">Data de nascimento</label>
          <input type="text" class="form-control"
          formControlName="data_nasc" id="data_nasc" [textMask]="{ mask : mascaraDataNasc }">

          <div class="text-danger" ngxErrors="data_nasc" #myError="ngxErrors">
            <div ngxError="required" when="touched">
              <small>Requerido!</small>
            </div>
          </div>

        </div>

       </div>
     </div>

      <!-- imagem do funcionario -->
      <!-- <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
      <ba-picture-uploader>
        <div _ngcontent-c7 class="picture-group">
          <div _ngcontent-c7 class="picture-wrapper">
            <img _ngcontent-c7 src="../../../../../assets/img/theme/no-photo.png">
            <input _ngcontent-c7 hidden="true" ngfileselect="" type="file">
          </div>
        </div>
      </ba-picture-uploader>
    </div> -->
    <!-- fim da imagem -->

  </div>

