{{ novoContratoForm.value | json }}
<div class="row" [formGroup]="novoContratoForm">

  <div class="col-12">
    <app-dados-principais-cliente
      [parentForm]="novoContratoForm"
      (buscarCliente)="getCliente($event)"
      (actionsForm)="actionsForm($event)">
    </app-dados-principais-cliente>
  </div>

  <div class="col-md-12 col-sm-12 col-lg-6">
    <app-contato-cliente [contatoControl]="novoContratoForm.get('contato')"></app-contato-cliente>
  </div>

  <div class="col-md-12 col-sm-12 col-lg-6">
    <app-endereco-cliente [enderecoControl]="novoContratoForm.get('endereco')"></app-endereco-cliente>
  </div>

  <div class="col-12">
    <app-detalhes-contrato [contratoControl]="novoContratoForm"></app-detalhes-contrato>
  </div>


  <div class="col-12" formArrayName="propostas">
    <div *ngFor="let proposta of propostas.controls; let i = index">
        <app-form-equip
          [contrato]="novoContratoForm"
          [equipamento]="equipamento"
          [novoContrato]="true"
          (sendEquipamento)="actionsEquipamentoForm($event)">
        </app-form-equip>

      <div class="col-12">
        <app-relacao-equipamentos
          [contrato]="novoContratoForm"
          [formProposta]="proposta.value.equipamentos"
          (actionEquipamento)="actionsEquipamento($event)">
        </app-relacao-equipamentos>
      </div>

    </div>
  </div>

  <div class="col-12">
    <ba-card>
      <div class="row">

        <div class="col-md-6 col-sm-12">
          <button
            type="submit"
            class="btn btn-primary btn-with-icon p-2"
            [disabled]="!novoContratoForm.valid"
            (click)="cadastrarContrato()">
            <i class="ion-android-checkmark-circle"></i>
            Cadastrar
          </button>
        </div>

        <div class="col-md-6 col-sm-12">
          <button
            type="reset"
            class="btn btn-danger btn-with-icon p-2"
            [disabled]="novoContratoForm.pristine"
            (click)="resetForm()">
            <i class="fa fa-trash"></i>
            Limpar
          </button>
        </div>

      </div>
    </ba-card>
  </div>
</div>

