<div class="row">
<div class="data  col-12 mt-4">
  <h2>Data {{ data | date: 'dd/MM/yyyy' }}</h2>
</div>
</div>
<div class="row">

    <div class="mt-4 col-md-3 col-lg-3 col-sm-3">
        <div class="card-custom border-danger">
          <div class="content-info-card">
            <div class="value">10</div> <div class="title">PENDENTE</div>
          </div>
        </div>
      </div>


  <div class="mt-4 col-md-3 col-lg-3 col-sm-3">
    <div class="card-custom border-success">
      <div class="content-info-card">
        <div class="value">10</div> <div class="title">EM EXECUÇÃO</div>
      </div>
    </div>
  </div>

  <div class="mt-4 col-md-3 col-lg-3 col-sm-3">
    <div class="card-custom border-warning">
      <div class="content-info-card">
        <div class="value">10</div> <div class="title">PAUSADO</div>
      </div>
    </div>
  </div>


  <div class="mt-4 col-md-3 col-lg-3 col-sm-3">
      <div class="card-custom border-info">
        <div class="content-info-card">
          <div class="value">10</div> <div class="title">CONCLUÍDO</div>
        </div>
      </div>
    </div>

</div>

<div class="row mt-2">

<div class="col-3 mt-2">
  <div class="card-tecnico">
    <div class="name-tecnico">
      <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
    </div>
    <div class="card-tecnico-info">
      <div class="almoco">
        <span>Almoço OK</span>
      </div>
      <div class="progress-tecnico">
        <span class="pendente-span">4 </span>
        <span>/</span>
        <span class="concluido-span"> 10</span>
        <br/>concluido</div>
    </div>
    <div class="status-tecnico">
        <div class="status">
          Status <span>Disponivel</span>
        </div>
      </div>
    <div class="cliente-info">
      <div class="name-cliente">
        RealPonto
      </div>
      <div class="time">
        Há 20 min
      </div>
    </div>
  </div>
</div>

<div class="col-3 mt-2">
    <div class="card-tecnico">
      <div class="name-tecnico">
        <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
      </div>
      <div class="card-tecnico-info">
        <div class="almoco">
          <span>Almoço OK</span>
        </div>
        <div class="progress-tecnico">
          <span class="pendente-span">4 </span>
          <span>/</span>
          <span class="concluido-span"> 10</span>
          <br/>concluido</div>
      </div>
      <div class="status-tecnico">
          <div class="status">
            Status <span>Disponivel</span>
          </div>
        </div>
      <div class="cliente-info">
        <div class="name-cliente">
          RealPonto
        </div>
        <div class="time">
          Há 20 min
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mt-2">
      <div class="card-tecnico">
        <div class="name-tecnico">
          <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
        </div>
        <div class="card-tecnico-info">
          <div class="almoco">
            <span>Almoço OK</span>
          </div>
          <div class="progress-tecnico">
            <span class="pendente-span">4 </span>
            <span>/</span>
            <span class="concluido-span"> 10</span>
            <br/>concluido</div>
        </div>
        <div class="status-tecnico">
            <div class="status">
              Status <span>Disponivel</span>
            </div>
          </div>
        <div class="cliente-info">
          <div class="name-cliente">
            RealPonto
          </div>
          <div class="time">
            Há 20 min
          </div>
        </div>
      </div>
    </div><div class="col-3 mt-2">
        <div class="card-tecnico">
          <div class="name-tecnico">
            <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
          </div>
          <div class="card-tecnico-info">
            <div class="almoco">
              <span>Almoço OK</span>
            </div>
            <div class="progress-tecnico">
              <span class="pendente-span">4 </span>
              <span>/</span>
              <span class="concluido-span"> 10</span>
              <br/>concluido</div>
          </div>
          <div class="status-tecnico">
              <div class="status">
                Status <span>Disponivel</span>
              </div>
            </div>
          <div class="cliente-info">
            <div class="name-cliente">
              RealPonto
            </div>
            <div class="time">
              Há 20 min
            </div>
          </div>
        </div>
      </div><div class="col-3 mt-2">
          <div class="card-tecnico">
            <div class="name-tecnico">
              <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
            </div>
            <div class="card-tecnico-info">
              <div class="almoco">
                <span>Almoço OK</span>
              </div>
              <div class="progress-tecnico">
                <span class="pendente-span">4 </span>
                <span>/</span>
                <span class="concluido-span"> 10</span>
                <br/>concluido</div>
            </div>
            <div class="status-tecnico">
                <div class="status">
                  Status <span>Disponivel</span>
                </div>
              </div>
            <div class="cliente-info">
              <div class="name-cliente">
                RealPonto
              </div>
              <div class="time">
                Há 20 min
              </div>
            </div>
          </div>
        </div><div class="col-3 mt-2">
            <div class="card-tecnico">
              <div class="name-tecnico">
                <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
              </div>
              <div class="card-tecnico-info">
                <div class="almoco">
                  <span>Almoço OK</span>
                </div>
                <div class="progress-tecnico">
                  <span class="pendente-span">4 </span>
                  <span>/</span>
                  <span class="concluido-span"> 10</span>
                  <br/>concluido</div>
              </div>
              <div class="status-tecnico">
                  <div class="status">
                    Status <span>Disponivel</span>
                  </div>
                </div>
              <div class="cliente-info">
                <div class="name-cliente">
                  RealPonto
                </div>
                <div class="time">
                  Há 20 min
                </div>
              </div>
            </div>
          </div><div class="col-3 mt-2">
              <div class="card-tecnico">
                <div class="name-tecnico">
                  <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                </div>
                <div class="card-tecnico-info">
                  <div class="almoco">
                    <span>Almoço OK</span>
                  </div>
                  <div class="progress-tecnico">
                    <span class="pendente-span">4 </span>
                    <span>/</span>
                    <span class="concluido-span"> 10</span>
                    <br/>concluido</div>
                </div>
                <div class="status-tecnico">
                    <div class="status">
                      Status <span>Disponivel</span>
                    </div>
                  </div>
                <div class="cliente-info">
                  <div class="name-cliente">
                    RealPonto
                  </div>
                  <div class="time">
                    Há 20 min
                  </div>
                </div>
              </div>
            </div><div class="col-3 mt-2">
                <div class="card-tecnico">
                  <div class="name-tecnico">
                    <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                  </div>
                  <div class="card-tecnico-info">
                    <div class="almoco">
                      <span>Almoço OK</span>
                    </div>
                    <div class="progress-tecnico">
                      <span class="pendente-span">4 </span>
                      <span>/</span>
                      <span class="concluido-span"> 10</span>
                      <br/>concluido</div>
                  </div>
                  <div class="status-tecnico">
                      <div class="status">
                        Status <span>Disponivel</span>
                      </div>
                    </div>
                  <div class="cliente-info">
                    <div class="name-cliente">
                      RealPonto
                    </div>
                    <div class="time">
                      Há 20 min
                    </div>
                  </div>
                </div>
              </div><div class="col-3 mt-2">
                  <div class="card-tecnico">
                    <div class="name-tecnico">
                      <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                    </div>
                    <div class="card-tecnico-info">
                      <div class="almoco">
                        <span>Almoço OK</span>
                      </div>
                      <div class="progress-tecnico">
                        <span class="pendente-span">4 </span>
                        <span>/</span>
                        <span class="concluido-span"> 10</span>
                        <br/>concluido</div>
                    </div>
                    <div class="status-tecnico">
                        <div class="status">
                          Status <span>Disponivel</span>
                        </div>
                      </div>
                    <div class="cliente-info">
                      <div class="name-cliente">
                        RealPonto
                      </div>
                      <div class="time">
                        Há 20 min
                      </div>
                    </div>
                  </div>
                </div><div class="col-3 mt-2">
                    <div class="card-tecnico">
                      <div class="name-tecnico">
                        <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                      </div>
                      <div class="card-tecnico-info">
                        <div class="almoco">
                          <span>Almoço OK</span>
                        </div>
                        <div class="progress-tecnico">
                          <span class="pendente-span">4 </span>
                          <span>/</span>
                          <span class="concluido-span"> 10</span>
                          <br/>concluido</div>
                      </div>
                      <div class="status-tecnico">
                          <div class="status">
                            Status <span>Disponivel</span>
                          </div>
                        </div>
                      <div class="cliente-info">
                        <div class="name-cliente">
                          RealPonto
                        </div>
                        <div class="time">
                          Há 20 min
                        </div>
                      </div>
                    </div>
                  </div><div class="col-3 mt-2">
                      <div class="card-tecnico">
                        <div class="name-tecnico">
                          <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                        </div>
                        <div class="card-tecnico-info">
                          <div class="almoco">
                            <span>Almoço OK</span>
                          </div>
                          <div class="progress-tecnico">
                            <span class="pendente-span">4 </span>
                            <span>/</span>
                            <span class="concluido-span"> 10</span>
                            <br/>concluido</div>
                        </div>
                        <div class="status-tecnico">
                            <div class="status">
                              Status <span>Disponivel</span>
                            </div>
                          </div>
                        <div class="cliente-info">
                          <div class="name-cliente">
                            RealPonto
                          </div>
                          <div class="time">
                            Há 20 min
                          </div>
                        </div>
                      </div>
                    </div><div class="col-3 mt-2">
                        <div class="card-tecnico">
                          <div class="name-tecnico">
                            <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                          </div>
                          <div class="card-tecnico-info">
                            <div class="almoco">
                              <span>Almoço OK</span>
                            </div>
                            <div class="progress-tecnico">
                              <span class="pendente-span">4 </span>
                              <span>/</span>
                              <span class="concluido-span"> 10</span>
                              <br/>concluido</div>
                          </div>
                          <div class="status-tecnico">
                              <div class="status">
                                Status <span>Disponivel</span>
                              </div>
                            </div>
                          <div class="cliente-info">
                            <div class="name-cliente">
                              RealPonto
                            </div>
                            <div class="time">
                              Há 20 min
                            </div>
                          </div>
                        </div>
                      </div><div class="col-3 mt-2">
                          <div class="card-tecnico">
                            <div class="name-tecnico">
                              <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                            </div>
                            <div class="card-tecnico-info">
                              <div class="almoco">
                                <span>Almoço OK</span>
                              </div>
                              <div class="progress-tecnico">
                                <span class="pendente-span">4 </span>
                                <span>/</span>
                                <span class="concluido-span"> 10</span>
                                <br/>concluido</div>
                            </div>
                            <div class="status-tecnico">
                                <div class="status">
                                  Status <span>Disponivel</span>
                                </div>
                              </div>
                            <div class="cliente-info">
                              <div class="name-cliente">
                                RealPonto
                              </div>
                              <div class="time">
                                Há 20 min
                              </div>
                            </div>
                          </div>
                        </div><div class="col-3 mt-2">
                            <div class="card-tecnico">
                              <div class="name-tecnico">
                                <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                              </div>
                              <div class="card-tecnico-info">
                                <div class="almoco">
                                  <span>Almoço OK</span>
                                </div>
                                <div class="progress-tecnico">
                                  <span class="pendente-span">4 </span>
                                  <span>/</span>
                                  <span class="concluido-span"> 10</span>
                                  <br/>concluido</div>
                              </div>
                              <div class="status-tecnico">
                                  <div class="status">
                                    Status <span>Disponivel</span>
                                  </div>
                                </div>
                              <div class="cliente-info">
                                <div class="name-cliente">
                                  RealPonto
                                </div>
                                <div class="time">
                                  Há 20 min
                                </div>
                              </div>
                            </div>
                          </div><div class="col-3 mt-2">
                              <div class="card-tecnico">
                                <div class="name-tecnico">
                                  <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                </div>
                                <div class="card-tecnico-info">
                                  <div class="almoco">
                                    <span>Almoço OK</span>
                                  </div>
                                  <div class="progress-tecnico">
                                    <span class="pendente-span">4 </span>
                                    <span>/</span>
                                    <span class="concluido-span"> 10</span>
                                    <br/>concluido</div>
                                </div>
                                <div class="status-tecnico">
                                    <div class="status">
                                      Status <span>Disponivel</span>
                                    </div>
                                  </div>
                                <div class="cliente-info">
                                  <div class="name-cliente">
                                    RealPonto
                                  </div>
                                  <div class="time">
                                    Há 20 min
                                  </div>
                                </div>
                              </div>
                            </div><div class="col-3 mt-2">
                                <div class="card-tecnico">
                                  <div class="name-tecnico">
                                    <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                  </div>
                                  <div class="card-tecnico-info">
                                    <div class="almoco">
                                      <span>Almoço OK</span>
                                    </div>
                                    <div class="progress-tecnico">
                                      <span class="pendente-span">4 </span>
                                      <span>/</span>
                                      <span class="concluido-span"> 10</span>
                                      <br/>concluido</div>
                                  </div>
                                  <div class="status-tecnico">
                                      <div class="status">
                                        Status <span>Disponivel</span>
                                      </div>
                                    </div>
                                  <div class="cliente-info">
                                    <div class="name-cliente">
                                      RealPonto
                                    </div>
                                    <div class="time">
                                      Há 20 min
                                    </div>
                                  </div>
                                </div>
                              </div><div class="col-3 mt-2">
                                  <div class="card-tecnico">
                                    <div class="name-tecnico">
                                      <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                    </div>
                                    <div class="card-tecnico-info">
                                      <div class="almoco">
                                        <span>Almoço OK</span>
                                      </div>
                                      <div class="progress-tecnico">
                                        <span class="pendente-span">4 </span>
                                        <span>/</span>
                                        <span class="concluido-span"> 10</span>
                                        <br/>concluido</div>
                                    </div>
                                    <div class="status-tecnico">
                                        <div class="status">
                                          Status <span>Disponivel</span>
                                        </div>
                                      </div>
                                    <div class="cliente-info">
                                      <div class="name-cliente">
                                        RealPonto
                                      </div>
                                      <div class="time">
                                        Há 20 min
                                      </div>
                                    </div>
                                  </div>
                                </div><div class="col-3 mt-2">
                                    <div class="card-tecnico">
                                      <div class="name-tecnico">
                                        <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                      </div>
                                      <div class="card-tecnico-info">
                                        <div class="almoco">
                                          <span>Almoço OK</span>
                                        </div>
                                        <div class="progress-tecnico">
                                          <span class="pendente-span">4 </span>
                                          <span>/</span>
                                          <span class="concluido-span"> 10</span>
                                          <br/>concluido</div>
                                      </div>
                                      <div class="status-tecnico">
                                          <div class="status">
                                            Status <span>Disponivel</span>
                                          </div>
                                        </div>
                                      <div class="cliente-info">
                                        <div class="name-cliente">
                                          RealPonto
                                        </div>
                                        <div class="time">
                                          Há 20 min
                                        </div>
                                      </div>
                                    </div>
                                  </div><div class="col-3 mt-2">
                                      <div class="card-tecnico">
                                        <div class="name-tecnico">
                                          <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                        </div>
                                        <div class="card-tecnico-info">
                                          <div class="almoco">
                                            <span>Almoço OK</span>
                                          </div>
                                          <div class="progress-tecnico">
                                            <span class="pendente-span">4 </span>
                                            <span>/</span>
                                            <span class="concluido-span"> 10</span>
                                            <br/>concluido</div>
                                        </div>
                                        <div class="status-tecnico">
                                            <div class="status">
                                              Status <span>Disponivel</span>
                                            </div>
                                          </div>
                                        <div class="cliente-info">
                                          <div class="name-cliente">
                                            RealPonto
                                          </div>
                                          <div class="time">
                                            Há 20 min
                                          </div>
                                        </div>
                                      </div>
                                    </div><div class="col-3 mt-2">
                                        <div class="card-tecnico">
                                          <div class="name-tecnico">
                                            <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                          </div>
                                          <div class="card-tecnico-info">
                                            <div class="almoco">
                                              <span>Almoço OK</span>
                                            </div>
                                            <div class="progress-tecnico">
                                              <span class="pendente-span">4 </span>
                                              <span>/</span>
                                              <span class="concluido-span"> 10</span>
                                              <br/>concluido</div>
                                          </div>
                                          <div class="status-tecnico">
                                              <div class="status">
                                                Status <span>Disponivel</span>
                                              </div>
                                            </div>
                                          <div class="cliente-info">
                                            <div class="name-cliente">
                                              RealPonto
                                            </div>
                                            <div class="time">
                                              Há 20 min
                                            </div>
                                          </div>
                                        </div>
                                      </div><div class="col-3 mt-2">
                                          <div class="card-tecnico">
                                            <div class="name-tecnico">
                                              <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                            </div>
                                            <div class="card-tecnico-info">
                                              <div class="almoco">
                                                <span>Almoço OK</span>
                                              </div>
                                              <div class="progress-tecnico">
                                                <span class="pendente-span">4 </span>
                                                <span>/</span>
                                                <span class="concluido-span"> 10</span>
                                                <br/>concluido</div>
                                            </div>
                                            <div class="status-tecnico">
                                                <div class="status">
                                                  Status <span>Disponivel</span>
                                                </div>
                                              </div>
                                            <div class="cliente-info">
                                              <div class="name-cliente">
                                                RealPonto
                                              </div>
                                              <div class="time">
                                                Há 20 min
                                              </div>
                                            </div>
                                          </div>
                                        </div><div class="col-3 mt-2">
                                            <div class="card-tecnico">
                                              <div class="name-tecnico">
                                                <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                              </div>
                                              <div class="card-tecnico-info">
                                                <div class="almoco">
                                                  <span>Almoço OK</span>
                                                </div>
                                                <div class="progress-tecnico">
                                                  <span class="pendente-span">4 </span>
                                                  <span>/</span>
                                                  <span class="concluido-span"> 10</span>
                                                  <br/>concluido</div>
                                              </div>
                                              <div class="status-tecnico">
                                                  <div class="status">
                                                    Status <span>Disponivel</span>
                                                  </div>
                                                </div>
                                              <div class="cliente-info">
                                                <div class="name-cliente">
                                                  RealPonto
                                                </div>
                                                <div class="time">
                                                  Há 20 min
                                                </div>
                                              </div>
                                            </div>
                                          </div><div class="col-3 mt-2">
                                              <div class="card-tecnico">
                                                <div class="name-tecnico">
                                                  <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                                </div>
                                                <div class="card-tecnico-info">
                                                  <div class="almoco">
                                                    <span>Almoço OK</span>
                                                  </div>
                                                  <div class="progress-tecnico">
                                                    <span class="pendente-span">4 </span>
                                                    <span>/</span>
                                                    <span class="concluido-span"> 10</span>
                                                    <br/>concluido</div>
                                                </div>
                                                <div class="status-tecnico">
                                                    <div class="status">
                                                      Status <span>Disponivel</span>
                                                    </div>
                                                  </div>
                                                <div class="cliente-info">
                                                  <div class="name-cliente">
                                                    RealPonto
                                                  </div>
                                                  <div class="time">
                                                    Há 20 min
                                                  </div>
                                                </div>
                                              </div>
                                            </div><div class="col-3 mt-2">
                                                <div class="card-tecnico">
                                                  <div class="name-tecnico">
                                                    <img class="d-flex mr-3 rounded-circle" width="46" height="46" src="/assets/img/user.svg"> Alexandre dos Santos Soares
                                                  </div>
                                                  <div class="card-tecnico-info">
                                                    <div class="almoco">
                                                      <span>Almoço OK</span>
                                                    </div>
                                                    <div class="progress-tecnico">
                                                      <span class="pendente-span">4 </span>
                                                      <span>/</span>
                                                      <span class="concluido-span"> 10</span>
                                                      <br/>concluido</div>
                                                  </div>
                                                  <div class="status-tecnico">
                                                      <div class="status">
                                                        Status <span>Disponivel</span>
                                                      </div>
                                                    </div>
                                                  <div class="cliente-info">
                                                    <div class="name-cliente">
                                                      RealPonto
                                                    </div>
                                                    <div class="time">
                                                      Há 20 min
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
</div>
