.card-custom {
  padding: 4%;
  background: #fff;
  border-radius: 3px;
  border-bottom: 3px solid;
  height: 50px;
  box-shadow: 0 1px 1px #666;
}

.card-custom div.value {
  font-size: 2em;
}

.content-info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-custom div.title {
  font-size: 1em;
}

.border-danger {
  border-color: red;
}

.border-success {
  border-color: green;
}

.border-warning {
  border-color: #F1D13A;
}

.border-info {
  border-color: #002EB9;
}

.card-tecnico-custom {
  font-size: 1.2em;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px #666;
  border-bottom: 2px solid;
  padding: 2%;
  min-width: 220px;
  height: 150px;
}

.card_tecnico {
  font-size: 1em;
  display: flex;
  align-items: center;
}

.card__tecnico-avatar {
  width: 150px;
  text-align: center;
}

img.avatar-tecnico {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}

.isLunch {
  background: #bd1016;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  vertical-align: center;
  position: absolute;
  margin: -25px 60px;
  border: #fff solid 2px;
}

.isLunch i {
  margin: 0 auto;
  font-size: 0.8em;
  text-shadow: 0px 1px 1px #666;
}
.card__tecnico-info {
  width: 100%;
}

.atividade-group {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 13px;
}

.atividade-atual {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.atividade-total {
  font-size:1.3em;
}

.card-tecnico-custom .PAUSE_ATIVIDADE {
  border-color: #F1D13A;
}
.card-tecnico-custom .INICIO_ATIVIDADE {
  border-color: green;
}

.card-tecnico-custom .INICIO_DESLOCAMENTO {
  border-color: red;
}
.card-tecnico-custom .FIM_DESLOCAMENTO {
  border-color: #F1D13A;
}
