<div class="container">

  <div class="card">
    <div class="card-body">
      <!-- head -->
      <div class="row">
        <div class="col-md col-xs-12">
          <img class="logo" src="/assets/img/logo_realponto.png" alt="">
        </div>

        <div class="col-md-6 col-xs-12">
          <h3>REALPONTO COMÉRCIO E RELÓGIO DE PONTO </h3>
          <p> <i class="ion-location"></i> Rua Dr.Cincinato Braga, 296 - Planalto, São Bernardo do Campo, S.P.</p>
          <p> <i class="ion-android-call"></i> (011) 4332-4040 | (011) 4394-2140 </p>
        </div>
      </div>
      <hr>
      <!-- head -->

      <!-- info-client -->
      <div class="row">
          <div class="col-md-10 mt-4">
            <h3>Informações principais</h3>
          </div>
          <div class="col-md-2 mt-4">
            <button class="btn btn-primary btn-imprimir"
              (click)="relatorioAtendimentoPDF(atendimento)">
              <i class="fa fa-print"></i>
            </button>
          </div>
          <div class="col-md-12 mt-2">
            <p><strong>Data Atendimento:</strong> {{ atendimento?.data_atendimento | date: 'dd/MM/yyyy' }}</p>
            <p><strong>Cliente:</strong> {{ atendimento?.cliente.nome_razao_social }} - {{ atendimento?.cliente.cnpj_cpf }}</p>
          </div>

          <div class="col-md-8">
            <p *ngIf="atendimento?.cliente.nome_fantasia"><strong>Nome fantasia:</strong>{{ atendimento?.cliente.nome_fantasia }}</p>
          </div>

          <div class="col-md-4">
            <p><strong>IE:</strong>{{ atendimento?.cliente.inscricao_estadual }}</p>
          </div>

          <div class="col-md-4">
            <p><strong>Contato:</strong> {{ atendimento?.contato.nome }}</p>
          </div>

          <div class="col-md-4">
            <p><strong>Telefone:</strong> {{ atendimento?.contato.telefone }}</p>
          </div>

          <div class="col-md-4">
            <p><strong>Celular:</strong> {{ atendimento?.contato.celular }}</p>
          </div>

          <div class="col-md-12">
            <p><strong>Endereço:</strong>
              {{ atendimento?.endereco.rua }},
              {{atendimento?.endereco.numero}},
              {{ atendimento?.endereco.bairro}},
              {{ atendimento?.endereco.cidade }},
              {{ atendimento?.endereco.uf }} -
              {{ atendimento?.endereco.cep }}
            </p>
          </div>

          <div class="col-md-12">
            <p><strong>Estacionamento:</strong> {{ atendimento?.estacionamento }}</p>
          </div>
      </div>
      <hr>
      <!-- info-client -->

      <!-- info-atendimento -->
      <div class="row">
          <div class="col-md-12 mt-4">
            <h3>Informações doAtendimento</h3>
          </div>
          <div class="col-md-8 mt-2">
            <p><strong>Tipo:</strong> {{ atendimento?.tipo}}</p>
          </div>

          <div class="col-md-4">
            <p *ngIf="atendimento?.valor"><strong>R$</strong> {{ atendimento?.valor }}</p>
          </div>

          <div class="col-md-4">
            <p *ngIf="atendimento?.autorizado"><strong>Autorizado por:</strong> {{ atendimento?.autorizado }}</p>
          </div>

          <div class="col-md-4">
            <p *ngIf="atendimento?.garantia"><strong>Data da Garantia</strong> {{ atendimento?.garantia | date: 'dd/MM/yyyy'}}</p>
          </div>

          <div class="col-md-12">
            <p><strong>Equipamento:</strong> {{ atendimento?.modelo_equipamento }} - {{ atendimento?.numero_equipamento }}</p>
          </div>

          <div class="col-md-12">
            <p><strong>Problema:</strong> {{ atendimento?.descricao }}</p>
          </div>

          <div class="col-md-12">
            <p><strong>Testes Efetuados:</strong> {{ atendimento?.testes_efetuados }}</p>
          </div>

          <div class="col-md-4">
            <p><strong>Observação:</strong> {{ atendimento?.observacao }}</p>
          </div>
      </div>
      <hr>
      <!-- info-atendimento -->

      <!-- info-tecnico-externo -->
      <div class="row">
        <div class="col-md-12 mt-4">
          <h3>Relatório Técnico Externo</h3>
        </div>
        <div class="col-md-8 mt-2">
          <p><strong>Técnico:</strong> {{ atendimento?.tecnico.nome }}</p>
        </div>

        <div class="col-md-4">
          <p><strong>Status:</strong> {{ atendimento?.interacao_tecnico.estado }}</p>
        </div>

        <div class="col-md-12">
          <p><strong>Solução:</strong> {{ atendimento?.interacao_tecnico.relatorio_tecnico.relatorio }}</p>
        </div>

        <div class="col-md-12">
          <p><strong>Retornar</strong> {{ atendimento?.interacao_tecnico.retorno.retornar ? 'Sim' : 'Não' }}</p>
        </div>

        <div class="col-md-12">
          <p *ngIf="atendimento?.interacao_tecnico.retorno.motivo"><strong>Motivo</strong> {{ atendimento?.interacao_tecnico.retorno.motivo }}</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12 mt-4">
          <h3>Retirado Equipamento</h3>
        </div>
        <div class="col-md-12 mt-2">
          <p><strong>Retirado:</strong> {{ atendimento?.interacao_tecnico.remocao_relogio.retirado ? 'Sim' : 'Não' }}</p>
        </div>

        <div class="col-md-12">
          <p><strong>Mesmo Equipamento:</strong> {{ atendimento?.interacao_tecnico.remocao_relogio.mesmo_equipamento ? 'Sim' : 'Não' }}</p>
        </div>

        <div class="col-md-12">
          <p><strong>Informações do Equipamento:</strong> {{ atendimento?.interacao_tecnico.remocao_relogio.informacoe_equipamento }}</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12 mt-4">
          <h3>Treinamento</h3>
        </div>
        <div class="col-md-4 mt-2">
          <p><strong>Software:</strong> {{ atendimento?.interacao_tecnico.treinamento.software }}</p>
        </div>

        <div class="col-md-4 mt-2">
          <p><strong>Caminho:</strong> {{ atendimento?.interacao_tecnico.treinamento.caminho }}</p>
        </div>

        <div class="col-md-4 mt-2"></div>

        <div class="col-md-4">
          <p><strong>Cadastros:</strong> {{ atendimento?.interacao_tecnico.treinamento.cadastros ? 'Sim' : 'Não' }}</p>
        </div>

        <div class="col-md-4">
          <p><strong>Backup do Sistema:</strong> {{ atendimento?.interacao_tecnico.treinamento.backup_sistema ? 'Sim' : 'Não' }}</p>
        </div>

        <div class="col-md-4">
          <p><strong>Importação dados:</strong> {{ atendimento?.interacao_tecnico.treinamento.importacao_dados ? 'Sim' : 'Não' }}</p>
        </div>

        <div class="col-md-4">
          <p><strong>Relatórios:</strong> {{ atendimento?.interacao_tecnico.treinamento.relatorios ? 'Sim' : 'Não' }}</p>
        </div>

        <div class="col-md-4">
          <p><strong>Abonos e Justificativas:</strong> {{ atendimento?.interacao_tecnico.treinamento.abonos_justificativas ? 'Sim' : 'Não' }}</p>
        </div>

        <div class="col-md-4">
          <p><strong>Interrupções::</strong> {{ atendimento?.interacao_tecnico.treinamento.interrupcoes ? 'Sim' : 'Não' }}</p>
        </div>
    </div>
    <hr>

    <!-- info-tecnico-externo -->

    </div>
  </div>
</div>
