<!-- Card com os inputs de dados principais do funcionário -->
  <div class="row" [formGroup]="dadosPrincipaisTecnico">

    <div class="col-md-9">
      <div class="row">

        <div class="form-group col-md-12 col-sm-12">
          <input type="text" class="form-control" formControlName="nome" placeholder="Nome completo">
        </div>

         <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" formControlName="rg" placeholder="RG">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" formControlName="cpf" placeholder="CPF">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" formControlName="data_nasc" placeholder="Data de Nasc.">
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" formControlName="email" placeholder="E-mail">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" formControlName="telefone" placeholder="Telefone">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" formControlName="celular" placeholder="Celular">
        </div>

        <div class="form-group col-md-12 col-sm-12">
          <input type="text" class="form-control" formControlName="observacao" placeholder="Observação">
        </div>

       </div>
     </div>

      <!-- imagem do funcionario -->
      <div class="col-md-3 col-sm-12">
      <ba-picture-uploader>
        <div _ngcontent-c7 class="picture-group">
          <div _ngcontent-c7 class="picture-wrapper">
            <img _ngcontent-c7 src="../../../../../assets/img/theme/no-photo.png">
            <input _ngcontent-c7 hidden="true" ngfileselect="" type="file">
          </div>
        </div>
      </ba-picture-uploader>
    </div>
    <!-- fim da imagem -->

  </div>

