
<ba-card cardTitle="Liberar Peças ao Técnico">
  <div class="row">

      <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 no-print">
        <label for="param_busca">Pesquisar por data</label>
        <div class="input-group">
          <input class="form-control" name="dp" ngbDatepicker #d="ngbDatepicker"  [(ngModel)]="inputDate" name="busca_data" id="param_busca" (ngModelChange)="getReservedProducts()">
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <i class="ion-calendar"></i>
          </button>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 no-print">
        <div class="form-group">
          <label for="tecnico">Técnico</label>
          <select class="form-control" name="category" [(ngModel)]="tecnicoSelecionado" [ngModelOptions]="{standalone: true}">
            <option value="" selected>Selecione</option>
            <option [ngValue]="tecnico" *ngFor="let tecnico of productsAvailables$ | async">{{ tecnico.nome | uppercase }}</option>
          </select>
        </div>
      </div>

      <div class="col-6 mb-4">
        <h5>Técnico:</h5>
        <h6>{{ tecnicoSelecionado?.nome | uppercase }}</h6>
      </div>
      <br><br>
    <div class="col-12 mt-4">
      <h6 class="mt-4">____________________________________________________________________</h6>
      <h6>Técnico {{ tecnicoSelecionado?.nome | uppercase }}</h6>
    </div>

    <div class="col-12">
      <table class="table table-bordered text-left mt-4">
        <thead>
          <tr>
            <th scope="col" class="text-left"><strong>Cliente</strong></th>
            <th scope="col" class="text-left"><strong>Descrição Produto</strong></th>
            <th scope="col" class="text-left"><strong>N. Serial</strong></th>
            <th scope="col" class="text-center"><strong>Qtd</strong></th>
            <th scope="col" class="text-left"><strong>Status</strong></th>
            <th scope="col" class="text-left"><strong>Ações</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tecnicoSelecionado?.productsReserved">
            <td class="text-left">{{ item?.cliente.nome_razao_social | uppercase }}</td>
            <td class="text-left">{{ item?.description | uppercase }}</td>

            <td class="text-left">{{ item?.serialNumber }}</td>
            <td class="text-center">{{ item?.quantity }}</td>
            <td class="text-left">{{ item?.status | uppercase }}</td>
            <td class="text-left">
              <div class="row">
                <div class="col-3" *ngIf="item?.status === 'reservado'">
                  <button
                    type="button"
                    class="btn btn-sm btn-success"
                    pButton title="Liberar" icon="fa fa-check"
                    (click)="liberarProduct(item)"
                  >
                  </button>
                </div>

                <div class="col-3" *ngIf="item?.status === 'liberado'">
                  <button
                    type="button"
                    class="btn btn-sm btn-danger"
                    pButton title="Perdeu"
                    icon="fa fa-window-close"
                    (click)="funcionarioEvent(item, 'perdeu')"
                  >
                  </button>
                </div>

                <div class="col-3" *ngIf="item?.status === 'liberado'">
                  <button
                    type="button"
                    class="btn btn-sm btn-warning"
                    pButton title="Quebrou"
                    icon="fa fa-arrow-left"
                    (click)="funcionarioEvent(item, 'quebrou')"
                  >
                  </button>
                </div>

                <div class="col-3" *ngIf="item?.status === 'liberado'">
                  <button
                    type="button"
                    class="btn btn-sm btn-info"
                    pButton title="Estornar"
                    icon="fa  fa-reply-all"
                    (click)="retornarProduct(item)"
                  >
                  </button>
                </div>
              </div>
            </td>

          </tr>
        </table>

    </div>
  </div>

</ba-card>
