<div class="row">
  <div class="col-md-12 col-sm-12">
    <ba-card cardTitle="Dados principais">

      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <input type="text" class="form-control" placeholder="Nome do grupo - Ex: Perguntas de atendimentos do tipo: Entrega">
        </div>
      </div>

    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 1">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) recomendaria a Realponto?">
      </div>
    </ba-card>
  </div>

  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 2">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) considera que foi atendido com qualidade?">
      </div>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 3">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) foi atendido em um bom prazo?">
      </div>
    </ba-card>
  </div>

  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 4">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) considera que todos os problemas foram resolvidos?">
      </div>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 5">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) recomendaria a Realponto?">
      </div>
    </ba-card>
  </div>

  <div class="col-md-6 col-sm-12">
    <ba-card>
      <button type="submit" class="btn btn-primary btn-with-icon">
      <i class="ion-android-checkmark-circle"></i>Cadastrar perguntas</button>
      <button type="reset" class="btn btn-danger btn-with-icon">
      <i class="ion-trash-a"></i>Limpar dados</button>
    </ba-card>
  </div>
</div>

