<!-- Informações principais para o grupo da pergunta -->
<div class="row">
  <div class="col-md-12 col-sm-12">
    <ba-card cardTitle="Dados principais">

      <div class="row">
        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Identificador do grupo">
        </div>

          <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <select class="form-control">
                <option value="" disabled selected>Selecione o tipo do grupo</option>
                <option>Perguntas - Atendimento tipo ENTREGA</option>
                <option>Perguntas - Atendimento tipo REPARO</option>
                <option>Perguntas - Atendimento tipo INSTALAÇÃO</option>
                <option>Perguntas - Atendimento tipo ENCAIXE</option>
              </select>
          </div>
        </div>
      </div>

    </ba-card>
  </div>
</div>

<!-- Todas as 5 perguntas necessárias para o grupo -->
<div class="row">
  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 1">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) recomendaria a Realponto?">
      </div>
    </ba-card>
  </div>

  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 2">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) considera que foi atendido com qualidade?">
      </div>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 3">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) foi atendido em um bom prazo?">
      </div>
    </ba-card>
  </div>

  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 4">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) considera que todos os problemas foram resolvidos?">
      </div>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <ba-card cardTitle="Pergunta 5">
      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Ex: O Sr.(a) recomendaria a Realponto?">
      </div>
    </ba-card>
  </div>

<!-- Botões de cadastro e de limpeza de dados -->
<div class="col-md-6 col-sm-12">
  <ba-card>

    <div class="row">

      <div class="col-md-6 col-sm-12">
        <button type="submit" class="btn btn-primary btn-with-icon">
      <i class="ion-android-checkmark-circle"></i>Cadastrar perguntas</button>
      </div>

      <div class="col-md-6 col-sm-12">
        <button type="reset" class="btn btn-danger btn-with-icon">
      <i class="ion-trash-a"></i>Limpar dados</button>
      </div>

    </div>
    
  </ba-card>
</div>
</div>


