<form [formGroup]="formContato"></form>

<div class="row">

  <div class="form-group col-md-12 col-sm-12">
    <input type="text" class="form-control" 
    placeholder="Nome" formControlName="nome">
  </div>

  <div class="form-group col-md-4 col-sm-12">
    <input type="text" class="form-control" 
    placeholder="E-mail" formControlName="email">
  </div>

  <div class="form-group col-md-4 col-sm-12">
    <input type="text" class="form-control" 
    placeholder="Telefone" formControlName="telefone">
  </div>

  <div class="form-group col-md-4 col-sm-12">
    <input type="text" class="form-control" 
    placeholder="Celular" formControlName="celular">
  </div>

  <div class="form-group col-md-12 col-sm-12">
    <input type="text" class="form-control" 
    placeholder="Observação" formControlName="observacao">
  </div>

</div>