<pre>{{ editarContratoForm.value | json }}</pre>

<div class="row" [formGroup]="editarContratoForm">

  <div class="col-12">
    <app-dados-principais-cliente
      [parentForm]="editarContratoForm"
      (buscarCliente)="getCliente($event)"
      (buscarClienteEhVincular)="getClienteEhVincular($event)"
      (removeCnpjAssociado)="removerCnpj($event)"
      (sendCnpjAssociado)="adicionarCampoVincularCnpj()">
    </app-dados-principais-cliente>
  </div>

  <div class="col-md-12 col-sm-12 col-lg-6">
    <app-contato-cliente
      [contatoControl]="editarContratoForm.get('contato')"
      [clienteEncontrado]="cliente$">
    </app-contato-cliente>
  </div>

  <div class="col-md-12 col-sm-12 col-lg-6">
    <app-endereco-cliente
      [enderecoControl]="editarContratoForm.get('endereco')"
      [clienteEncontrado]="cliente$">
    </app-endereco-cliente>
  </div>

  <div class="col-12">
    <app-detalhes-contrato
      [contratoControl]="editarContratoForm">
    </app-detalhes-contrato>
  </div>

  <div formArrayName="propostas">
    <div *ngFor="let proposta of propostas.controls; let i = index">

      <div class="col-12">
        <app-form-equip
          [indexProposta]="i"
          [equipamento]="equipamento"
          [indexEquipamento]="indexEquipamento"
          (sendEquipamento)="addEquipamento($event)"
          (editEquipamento)="editarEquipamento($event)">
        </app-form-equip>
      </div>

      <div class="col-12">
        <app-relacao-equipamentos
          [indexProposta]="i"
          [formProposta]="proposta"
          [valorTotal]="valorTotalContrato"
          [qtdEquipamentos]="qtdEquipamentos"
          (editEquipamento)="getEquipamentoEdit($event)"
          (removeEquipamento)="removeEquipamento($event)">
        </app-relacao-equipamentos>
      </div>

      <div [formGroupName]="i">

        <div class="col-12">
          <ba-card cardTitle="motivo">
            <div class="form-group"
              [class.has-error]="proposta.get('descricao').hasError('required') && proposta.get('descricao').touched"
              [class.has-success]="proposta.get('descricao').valid">
              <label for="descricao">Adicione o motivo da alteração:</label>
              <textarea class="form-control" formControlName="descricao" rows="8" id="descricao">
            </textarea>
            <span class="text-danger small" *ngIf="proposta.get('descricao').hasError('required') && proposta.get('descricao').touched">
              <i class="fa fa-remove text-danger"></i>
              Requerido!
            </span>
            </div>
          </ba-card>
        </div>

        <div class="col-12">
          <ba-card>
            <div class="row">

              <div class="col-md-6 col-sm-12">
                <button
                  type="submit"
                  class="btn btn-primary btn-with-icon p-2"
                  [disabled]="!proposta.get('descricao').valid"
                  (click)="atualizarContrato(editarContratoForm.value)">
                  <i class="ion-android-checkmark-circle"></i>
                  Editar
                </button>
              </div>

              <div class="col-md-6 col-sm-12">
                <button
                  type="reset"
                  class="btn btn-danger btn-with-icon p-2"
                  [routerLink]="['/pages/administrativo/gerenciar']">
                  <i class="fa fa-trash"></i>
                  Voltar
                </button>
              </div>

            </div>
          </ba-card>
        </div>

        <div class="col-12 mb-5">
          <app-encerramento></app-encerramento>
        </div>

      </div>

    </div>
  </div>

</div>



