<div class="row" [formGroup]="editarContratoForm">

  <div class="col-12">
    <app-dados-principais-cliente
      [parentForm]="editarContratoForm"
      (buscarCliente)="getCliente($event)"
      (actionsForm)="actionsForm($event)">
    </app-dados-principais-cliente>
  </div>

  <div class="col-md-12 col-sm-12 col-lg-6">
    <app-contato-cliente [contatoControl]="editarContratoForm.get('contato')"></app-contato-cliente>
  </div>

  <div class="col-md-12 col-sm-12 col-lg-6">
    <app-endereco-cliente [enderecoControl]="editarContratoForm.get('endereco')"></app-endereco-cliente>
  </div>

<div class="col-12">
    <app-detalhes-contrato
      [contratoControl]="editarContratoForm">
    </app-detalhes-contrato>
  </div>


  <div class="col-12" formArrayName="propostas">
      <div *ngFor="let proposta of propostas.controls; let i = index">
          <app-form-equip
            [contrato]="editarContratoForm"
            [equipamento]="equipamento"
            [novoContrato]="false"
            (sendEquipamento)="actionsEquipamentoForm($event)">
          </app-form-equip>

          <app-relacao-equipamentos
            [contrato]="editarContratoForm"
            [formProposta]="proposta.value.equipamentos"
            (actionEquipamento)="actionsEquipamento($event)">
          </app-relacao-equipamentos>



          <ba-card cardTitle="Motivo" [formGroup]="editarContratoForm">
            <div class="row">
              <div class="form-group col-6" [class.has-success]="editarContratoForm.get('motivo').value">
                <label for="resumoContrato">Motivo da alteração do contrato</label>
                <textarea class="form-control" formControlName="motivo" rows="6" id="motivo">
                </textarea>
              </div>

              <div class="form-group col-4">
                <label for="param_busca">Data de Encerramento</label>
                <div class="input-group">
                  <input class="form-control" formControlName="dataEncerramento" [textMask]="{ mask : mascaraData }">
                </div>
            </div>
            </div>
          </ba-card>
      </div>
    </div>

    <div class="col-12">
      <ba-card>
        <div class="row">

          <div class="col-md-6 col-sm-12">
            <button
              type="submit"
              class="btn btn-primary btn-with-icon p-2"
              [disabled]="!editarContratoForm.valid"
              (click)="atualizarContrato(editarContratoForm.value)">
              <i class="ion-android-checkmark-circle"></i>
              Editar
            </button>
          </div>

          <div class="col-md-6 col-sm-12">
            <button
              type="reset"
              class="btn btn-danger btn-with-icon p-2"
              [disabled]="editarContratoForm.pristine"
              (click)="resetForm()">
              <i class="fa fa-trash"></i>
              Limpar
            </button>
          </div>

        </div>
      </ba-card>
    </div>
  </div>

