<div class="row m-3">

  <div class="col-4">
    <img class="logo" src="assets/img/logo_realponto.png" alt="logo">
  </div>

  <div class="col-8">
    <p class="title-special pull-right">RealPonto Comércio e Serviço de Relógio de Ponto ltda </p>
    <p class="pull-right">Rua Dr.Cincinato Braga, 296 - Planalto, São Bernardo do Campo, S.P.
      <br/>(011) 4332-4040 | (011) 4394-2140
    </p>
  </div>

  <hr class="col-12">
  <h3 class="text-center mb-4">HISTÓRICO DE ATIVIDADES</h3>

  <div class="col-12">
    <div class="pull-right assinatura">{{ tecnicoSelecionado?.nome}}</div>
    <div class="">

      <div *ngFor="let atividade of tecnicoSelecionado?.atividades" class="table-responsive">
        <div class="mb-3">
          <strong>
            {{ atividade?.atendimento?.cliente?.nome_razao_social || parseTipoAtividade(atividade?.tipo) || atividade?.descricao }}
          </strong>
          <strong class="pull-right">
              {{ (atividade?.atendimento?.cliente?.cnpj_cpf | rgCnpjCpf) || '' }}
          </strong>
        </div>

        <div *ngIf="!atividade?.monitoramentos.length" class="text-center m-5">
          NÃO HOUVE INTERAÇÃO!
        </div>

        <table *ngIf="atividade?.monitoramentos.length" class="table table-bordered mb-3" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>
                <strong>Hora</strong>
              </th>
              <th>
                <strong>Estado</strong>
              </th>
            </tr>
          </thead>

          <tbody *ngFor="let monitoramento of atividade?.monitoramentos">
            <tr>
              <td *ngIf="monitoramento">{{ monitoramento?.date | date: 'HH:MM' }}</td>
              <td *ngIf="monitoramento">{{ parseStatus(monitoramento?.status) }}
                <button *ngIf="monitoramento?.motivo" type="button" class="pull-right" ngbTooltip="{{monitoramento.motivo}}" triggers="click:blur">
                  <i class="fa fa-info"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
