
<div class="row m-3">

  <div class="col-4">
    <img class="logo" src="assets/img/logo_realponto.png" alt="logo">
  </div>

  <div class="col-8">
    <h5>REALPONTO COMÉRCIO E SERVIÇO DE RELÓGIO DE PONTO LTDA</h5>
    <p>Rua Dr.Cincinato Braga, 296 - Planalto, São Bernardo do Campo, S.P.</p>
    <p>(011) 4332-4040 | (011) 4394-2140</p>
  </div>

  <div class="col-12 mt-3">
    <p class="h5">
      <strong class="mt-3">HISTÓRICO DE ATIVIDADES</strong>
      <strong class="pull-right">{{ dataAtividade | date: 'dd/MM/yyyy' }}</strong>
    </p>
    <hr/>
    <div class="mt-4">
      <div class="media">
        <img class="d-flex mr-3 rounded-circle avatar" [src]="tecnicoSelecionado?.foto_url ? tecnicoSelecionado?.foto_url : '/assets/img/user.svg'">
        <div class="media-body mt-3">
          <p class="h6">
            <strong>{{ tecnicoSelecionado?.nome }}</strong>
            <strong class="pull-right">{{ (tecnicoSelecionado?.atividades).length }} ATIVIDADES</strong>
          </p>
        </div>
      </div>
    </div>
    <hr/>
  </div>

  <hr>

  <div class="col-12 mb-5">
    <div *ngFor="let atividade of tecnicoSelecionado?.atividades" class="table-responsive break">
      <p class="mb-3">
        <strong>
          {{ atividade?.atendimento?.cliente?.nome_razao_social || parseTipoAtividade(atividade?.tipo) || atividade?.descricao }}
        </strong>
        <strong class="pull-right">
          {{ (atividade?.atendimento?.cliente?.cnpj_cpf | rgCnpjCpf) || '' }}
        </strong>
      </p>
      <div *ngIf="!atividade?.monitoramentos.length" class="text-center m-5">
        NÃO HOUVE INTERAÇÃO!
      </div>
      <table *ngIf="atividade?.monitoramentos.length" class="table table-bordered report mb-3" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>
              <strong>Hora</strong>
            </th>
            <th>
              <strong>Estado</strong>
            </th>
          </tr>
        </thead>
        <tbody class="break" *ngFor="let monitoramento of atividade?.monitoramentos">
          <tr>
            <td *ngIf="monitoramento">{{ monitoramento?.date | date: 'HH:mm' }}</td>
            <td *ngIf="monitoramento">
              {{ parseStatus(monitoramento?.status) }}
              <i *ngIf="monitoramento?.motivo" class="fa fa-info pull-right mt-2"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <h4>DESCRIÇÕES</h4>
    <hr class="mb-2">
    <div *ngFor="let atividade of tecnicoSelecionado?.atividades" class="table-responsive">
      <div *ngFor="let monitoramento of atividade?.monitoramentos">
        <p *ngIf="monitoramento?.motivo" class="mb-3">
          <strong>{{ atividade?.atendimento?.cliente?.nome_razao_social || parseTipoAtividade(atividade?.tipo) || atividade?.descricao }}</strong>
          <strong class="pull-right">DETALHES</strong>
        </p>
        <table class="table table-bordered mb-3" id="dataTable" width="100%" cellspacing="0">
          <thead *ngIf="monitoramento?.motivo">
            <tr>
              <th>
                <strong>Hora</strong>
              </th>
              <th>
                <strong>Descrição</strong>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="monitoramento?.motivo">
            <tr>
              <td>{{ monitoramento?.date | date: 'HH:MM' }}</td>
              <td>
                {{ monitoramento?.motivo }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="footer fixed-bottom m-5">
  <span>{{ dataAtividade | date: 'dd/MM/yyyy' }}</span>
  <span class="pull-right assinatura">{{ tecnicoSelecionado?.nome }}</span>
</div>
