@page {
  @bottom-center {
    content: element(footer)
  }
}
table {
  page-break-inside: avoid;
}


div .assinatura {
  text-decoration:overline;
}

.footer {
  display: block;
  text-align: center;
  position: running(footer);
}

.logo {
  height: auto;
  width: 200px;
}

.avatar {
  height: 46px !important;
  width: 46px !important;
}

.margin {
  margin: 30px 0px 30px 0px;
}

.title-special {
  font-size: 1.2em;
}


