<ba-card cardTitle="equipamentos" [formGroup]="equipamentoControl">
  <div class="row">
    <div class="form-group col-md-5 col-sm-12 col-xs-12 col-lg-3">
      <label for="typeahead-focus">Pesquise o equipamento</label>
      <input id="typeahead-basic" type="text" class="form-control mb-3" />
      <div class="list-group list-group-flush small scrollbar" id="style-1">
        <div *ngFor="let equipamento of equipamentos">
          <a class="list-group-item list-group-item-action">
            <div class="media">
              <div class="media-body">
                <strong>{{ equipamento?.modelo }}</strong>
                <p>
                  <small>{{ equipamento?.fabricante }}</small>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="form-group col-md-7 col-sm-12 col-xs-12 col-lg-9">
      <label>Relação de equipamentos</label>
      <div class="equipamentos scrollbar" id="style-1">
        <div class="list-group list-group-flush small">
          <a class="list-group-item">
            <h4>CATACRA FIT</h4>
            <div class="media-body">
              <div class="row">
                <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-3">
                  <label>Nº de Série</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-md-3 col-sm-12 col-xs-12 col-lg-2">
                  <label for="visita">Visita ?</label>
                  <select class="form-control" id="visita">
                    <option value=true>Sim</option>
                    <option value=false>Não</option>
                  </select>
                </div>

                <div class="form-group col-md-3 col-sm-12 col-xs-12 col-lg-2">
                  <label>Valor</label>
                  <input type="number" class="form-control">
                </div>

                <div class="form-group col-md-3 col-sm-12 col-xs-12 col-lg-1">
                  <button class="btn btn-outline-danger p-2 mt-3">
                    <i class="fa fa-trash m-1"></i>
                  </button>
                </div>

                <div class="col-12">
                  <div class="row">

                    <div class="form-group col-md-6 col-sm-6 col-lg-3">
                      <label for="cep">CEP</label>
                      <input type="text" class="form-control" id="cep">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-lg-4">
                      <label for="rua">Rua</label>
                      <input type="text" class="form-control" id="rua">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-lg-2">
                      <label for="numero">N°</label>
                      <input type="text" class="form-control" id="numero">
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-lg-3" >
                      <label for="bairro">Bairro</label>
                      <input type="text" class="form-control" id="bairro">
                    </div>

                   <div class="form-group col-md-6 col-sm-6 col-lg-5">
                      <label for="cidade">Cidade</label>
                      <input type="text" class="form-control" id="cidade">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-lg-3">
                      <label for="uf">Estado</label>
                      <input type="text" class="form-control" id="uf">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-lg-4">
                      <label for="complemento">Complemento
                        <small>(opc.)</small>
                      </label>
                      <input type="text" class="form-control" id="complemento">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-lg-8">
                      <label for="ponto_referencia">Ponto de referência
                        <small>(opc.)</small>
                      </label>
                      <input type="text" class="form-control" id="ponto_referencia">
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </a>

          <a class="list-group-item">
              <h4>CATACRA FIT</h4>
              <div class="media-body">
                <div class="row">
                  <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-3">
                    <label>Nº de Série</label>
                    <input type="text" class="form-control">
                  </div>

                  <div class="form-group col-md-3 col-sm-12 col-xs-12 col-lg-2">
                    <label for="visita">Visita ?</label>
                    <select class="form-control" id="visita">
                      <option value=true>Sim</option>
                      <option value=false>Não</option>
                    </select>
                  </div>

                  <div class="form-group col-md-3 col-sm-12 col-xs-12 col-lg-2">
                    <label>Valor</label>
                    <input type="number" class="form-control">
                  </div>

                  <div class="form-group col-md-3 col-sm-12 col-xs-12 col-lg-1">
                    <button class="btn btn-outline-danger p-2 mt-3">
                      <i class="fa fa-trash m-1"></i>
                    </button>
                  </div>

                  <div class="col-12">
                    <div class="row">

                      <div class="form-group col-md-6 col-sm-6 col-lg-3">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" id="cep">
                      </div>

                      <div class="form-group col-md-6 col-sm-6 col-lg-4">
                        <label for="rua">Rua</label>
                        <input type="text" class="form-control" id="rua">
                      </div>

                      <div class="form-group col-md-6 col-sm-6 col-lg-2">
                        <label for="numero">N°</label>
                        <input type="text" class="form-control" id="numero">
                      </div>
                      <div class="form-group col-md-6 col-sm-6 col-lg-3" >
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" id="bairro">
                      </div>

                     <div class="form-group col-md-6 col-sm-6 col-lg-5">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" id="cidade">
                      </div>

                      <div class="form-group col-md-6 col-sm-6 col-lg-3">
                        <label for="uf">Estado</label>
                        <input type="text" class="form-control" id="uf">
                      </div>

                      <div class="form-group col-md-6 col-sm-6 col-lg-4">
                        <label for="complemento">Complemento
                          <small>(opc.)</small>
                        </label>
                        <input type="text" class="form-control" id="complemento">
                      </div>

                      <div class="form-group col-md-6 col-sm-6 col-lg-8">
                        <label for="ponto_referencia">Ponto de referência
                          <small>(opc.)</small>
                        </label>
                        <input type="text" class="form-control" id="ponto_referencia">
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </a>
        </div>
      </div>
      <button class="btn btn-primary mt-3" id="btn-salvar">SALVAR CONTRATO</button>
    </div>
  </div>

</ba-card>

