@import './../../../../theme/sass/conf/conf.scss';

button {
    width: 100%;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.adiciona {
    width:  7%;
}

i {
    &:hover{
        color: $danger;
        cursor: pointer;
    }
}
