<!-- Card com os inputs de dados principais do cliente -->
<div class="row" [formGroup]="formEdicaoCliente">
  <div class="col-md-12">
    <ba-card cardTitle="Dados principais">
      <app-principais-info-cliente
      [formDadosPrincipais]="formEdicaoCliente">
    </app-principais-info-cliente>
    </ba-card>
  </div>

  <!-- Card com os inputs das informações de contato do cliente -->
  <div class="col-md-12">
    <ba-card cardTitle='Contatos' formArrayName="contatos">
      <ba-card *ngFor="let contato of contatos?.controls; let i=index">
          <div>
            <span>Contato {{i + 1}}</span>
            <span class="pull-right" *ngIf="contatos?.controls.length > 1" 
              (click)="removerContato(i)"><i class="ion-trash-a"></i></span>
          </div>
          <app-contato 
            [formContato]="contato">
          </app-contato>
      </ba-card>
      <button (click)="adicionarContato()" type="reset" 
      class="adiciona pull-right btn btn-primary">+</button>
    </ba-card>
  </div>

  <!-- Card com os inputs das informações de endereço do cliente -->
  <div class="col-md-12">
    <ba-card cardTitle='Enderecos' formArrayName="enderecos">

      <ba-card *ngFor="let endereco of enderecos?.controls; let i=index">

          <div>
            <span>Endereço {{i + 1}}</span>
            <span class="pull-right" *ngIf="enderecos?.controls.length > 1"
            (click)="removerEndereco(i)"><i class="ion-trash-a"></i></span>
          </div>

          <app-endereco
          [formEndereco]="endereco">
          </app-endereco>

        </ba-card>
        <button (click)="adicionarEndereco()" type="reset"
        class="adiciona pull-right btn btn-primary">+</button>
      </ba-card>
  </div>

  <!-- Botões de cadastro e de limpeza de dados -->
  <div class="col-md-12">
    <ba-card>
      <div class="row">

        <div class="col-md-6 col-sm-12">
          <button type="submit" class="btn btn-primary btn-with-icon"
          (click)="atualizarCliente(formEdicaoCliente)">
          <i class="ion-android-checkmark-circle"></i>Salvar</button>
        </div>

        <div class="col-md-6 col-sm-12">
          <button type="reset" class="btn btn-danger btn-with-icon"
           [routerLink]="['/pages/clientes/gerenciar']">
          <i class="ion-close"></i>Cancelar</button>
        </div>
      </div>

    </ba-card>
  </div>
</div>


