<form [formGroup]="formEndereco">

  <div class="row">


  <div class="col-md-12 col-sm-12">
     <div class="form-group">
        <select class="form-control" *ngIf="!verificarCampo">
          <option value="" disabled selected>Selecione o endereço</option>
          <option >Enderecos </option>
        </select>
      </div>
    </div>

    <div class="form-group col-md-12 col-sm-12">
      <label for="input01">CEP</label>
      <input style="width: 15em" type="text" class="form-control"
      placeholder="Insira um CEP" formControlName="cep"
      (blur)="buscaPorCep($event.target.value)">
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <label for="input02">Rua</label>
      <input type="text" class="form-control"
       formControlName="rua">
    </div>

    <div class="form-group col-md-2 col-sm-12">
      <label for="input03">Número</label>
      <input type="text" class="form-control"
      formControlName="numero">
    </div>

    <div class="form-group col-md-4 col-sm-12">
      <label for="input04">Bairro</label>
      <input type="text" class="form-control"
      formControlName="bairro">
    </div>

    <div class="form-group col-md-3 col-sm-12">
      <label for="input05">Estado</label>
      <input type="text" class="form-control"
      formControlName="uf">
    </div>

    <div class="form-group col-md-3 col-sm-12">
      <label for="input06">Cidade</label>
      <input type="text" class="form-control"
      formControlName="cidade">
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <label for="input07">Complemento</label>
      <input type="text" class="form-control"
      formControlName="complemento">
    </div>

    <div class="form-group col-md-12 col-sm-12">
      <label for="input08">Ponto de referência</label>
      <input type="text" class="form-control"
      formControlName="ponto_referencia">
    </div>

  </div>

  </form>
