<form [formGroup]="formEndereco">

  <div class="row">

    <div class="form-group col-md-6 col-sm-6 col-lg-4" 
    [class.required]="formEndereco.hasError('required')">
      <label for="cep">CEP</label>
      <input [textMask]="{ mask : mascaraCep }" type="text" class="form-control"
        formControlName="cep"
      (blur)="buscaPorCep($event.target.value)" id="cep">

      <div class="text-danger" ngxErrors="cep" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small><i class="ion-close"></i> Requerido!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-lg-5" 
      [class.required]="formEndereco.hasError('required')">
      <label for="rua">Rua</label>
      <input type="text" class="form-control"
       formControlName="rua" id="rua">

       <div class="text-danger" ngxErrors="rua" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small><i class="ion-close"></i> Requerido!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-lg-3" 
      [class.required]="formEndereco.hasError('required')">
      <label for="numero">N°</label>
      <input type="text" class="form-control"
      formControlName="numero" id="numero">

      <div class="text-danger" ngxErrors="numero" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small><i class="ion-close"></i> Requerido!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-lg-4" 
    [class.required]="formEndereco.hasError('required')">
      <label for="bairro">Bairro</label>
      <input type="text" class="form-control"
      formControlName="bairro" id="bairro">

      <div class="text-danger" ngxErrors="bairro" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small><i class="ion-close"></i> Requerido!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-lg-5" 
    [class.required]="formEndereco.hasError('required')">
    <label for="cidade">Cidade</label>
    <input type="text" class="form-control"
    formControlName="cidade" id="cidade">

    <div class="text-danger" ngxErrors="cidade" #myError="ngxErrors">
        <div ngxError="required" when="touched">
          <small><i class="ion-close"></i> Requerido!</small>
        </div>
      </div>
  </div>

    <div class="form-group col-md-6 col-sm-6 col-lg-3" 
      [class.required]="formEndereco.hasError('required')">
      <label for="uf">Estado</label>
      <input type="text" class="form-control"
      formControlName="uf" id="uf">

      <div class="text-danger" ngxErrors="uf" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small><i class="ion-close"></i> Requerido!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-lg-4">
      <label for="complemento">Complemento <small>(opc.)</small></label>
      <input type="text" class="form-control"
      formControlName="complemento"
      id="complemento">
    </div>

    <div class="form-group col-md-6 col-sm-6 col-lg-8">
      <label for="ponto_referencia">Ponto de referência <small>(opc.)</small></label>
      <input type="text" class="form-control"
      formControlName="ponto_referencia"
      id="ponto_referencia">
    </div>

  </div>

  </form>
