<div class="list-group list-group-flush small scrollbar" id="style-1">
  <div class="media list-group-item" *ngFor="let equipamento of equipamentos">
      <img class="d-flex mr-3" [src]="equipamento.imagemPath || 'assets/img/img-default.png'" width="65" height="65" alt="">
    <div class="p-2">
      <h6>{{ equipamento.descricao }} {{ equipamento.modelo }}</h6>
      <p class="text-uppercase" *ngIf="equipamento?.cnpjCliente">
        {{ returnRazaoSocial(equipamento?.cnpjCliente)  }} - {{ equipamento?.cnpjCliente | rgCnpjCpf }}
      </p>
      <p *ngIf="equipamento.endereco.rua" class="text-uppercase">
        {{ equipamento.endereco?.rua + ',
        ' + equipamento.endereco?.numero + ',
        ' + equipamento.endereco?.bairro +',
        ' + equipamento.endereco?.cidade+ ' -
        ' + equipamento.endereco?.uf + '-
        ' + equipamento.endereco?.cep }}</p>
        <p class="text-uppercase" *ngIf="equipamento?.endereco?.ponto_referencia">
          {{ 'ponto de referência: ' + equipamento?.endereco?.ponto_referencia }}
        </p>
        <p class="text-uppercase" *ngIf="equipamento?.endereco?.complemento">
          {{ 'complemento: ' + equipamento?.endereco?.complemento }}
        </p>
      <p>
        <span class="badge badge-success p-2">{{ equipamento?.valor | currency: 'BRL': true }}</span>
        <span class="badge badge-primary p-2" *ngIf="equipamento?.visita">VISITA</span>
        <span class="badge badge-warning p-2" *ngIf="equipamento?.numeroSerie">{{'Nº ' + equipamento?.numeroSerie }}</span>
        <span class="badge badge-info text-uppercase p-2" *ngIf="equipamento?.categoria">{{ equipamento?.categoria }}</span>
        <span class="badge badge-danger text-uppercase p-2" *ngIf="equipamento?.encerradoEm">removido: {{ equipamento?.encerradoEm | date: 'dd/MM/yyyy' }}</span>
      </p>
      <p *ngIf="equipamento?.motivo">
        <span class="badge badge-info text-uppercase p-2" *ngIf="equipamento?.motivo">motivo: {{ equipamento?.motivo }}</span>
      </p>
    </div>
  </div>
</div>
