<form [formGroup]="formDadosPrincipais">

    <div class="row">

        <div class="form-group col-md-6 col-sm-12">
          <label for="input01">CNPJ ou CPF</label>
          <input type="text" class="form-control" formControlName="cnpj_cpf">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label for="input02">Razão social ou nome</label>
          <input type="text" class="form-control" formControlName="razao_social">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label for="input03">Inscrição estadual</label>
          <input type="text" class="form-control" formControlName="inscricao_estadual">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label for="input04">Nome fantasia</label>
          <input type="text" class="form-control" formControlName="nome_fantasia">
        </div>
      </div>

</form>
