<div [formGroup]="motivoForm">
  <div class="col-12 mb-3">
    <div class="form-group"
      [class.has-error]="motivoForm.get('motivo').hasError('required') && motivoForm.get('motivo').touched"
      [class.has-success]="motivoForm.get('motivo').valid">
      <label for="testes_efetuados">Adicione o motivo da alteração:</label>
      <textarea class="form-control" formControlName="motivo" rows="8" id="testes_efetuados">
      </textarea>
      <span class="text-danger small" *ngIf="motivoForm.get('motivo').hasError('required') && motivoForm.get('motivo').touched">
        <i class="fa fa-remove text-danger"></i>
        Requerido!
      </span>
    </div>
  </div>
</div>
