<form novalidate>
  <ba-card cardTitle="Dados da Compra">
    <div class="row" [formGroup]="orderBuyForm">
      <div class="form-group col-md-2 col-sm-12 col-xs-12 col-lg-2">
        <label class="control-label" for="buyID">Cod.</label>
        <input type="text" class="form-control" formControlName="buyID">
        <small class="ion-close text text-danger" *ngIf="orderBuyForm.get('buyID').hasError('required') && orderBuyForm.get('buyID').touched"> Obrigatório!</small>
      </div>

      <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-6">
        <label class="control-label" for="description">Descrição Compra</label>
        <input type="text" class="form-control" formControlName="description">
        <small class="ion-close text text-danger" *ngIf="orderBuyForm.get('description').hasError('required') && orderBuyForm.get('description').touched"> Obrigatório!</small>
      </div>


      <div class="form-group col-md-4 col-sm-12 col-xs-12 col-lg-4">
        <div class="form-group">
          <label for="estoque base">Estoque Base</label>
          <select class="form-control" name="estoquebase" formControlName="baseStock">
            <option value="" selected>Selecione</option>
            <option value="realponto">RealPonto</option>
            <option value="pontoreal">PontoReal</option>
            <option value="novareal">NovaReal</option>
          </select>
          <small class="ion-close text text-danger" *ngIf="orderBuyForm.get('baseStock').hasError('required') && orderBuyForm.get('baseStock').touched"> Obrigatório!</small>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 title-item mt-4">
        <h6>Itens da Compra</h6>
      </div>
    </div>

    <div class="row" [formGroup]="productForm">
      <div class="col-12">
        <div class="row">
          <div class="form-group col-md-8 col-sm-12 col-xs-12 col-lg-8">
              <label class="control-label" for="descricao">Descrição Produto</label>
              <input type="text" class="form-control" formControlName="description" (keyup)="searchProduct(productForm.value.description)" />
              <div *ngIf="productsSearch$ | async as products" >
                <ul *ngIf="!isSearchSelected">
                  <li class="autocomplete-item" *ngFor="let product of products" (click)="pecaSelecionada(product)">{{ product?.description }} - {{ product?.brand }}</li>
                </ul>
              </div>
            </div>

            <div class="form-group col-md-2 col-sm-12 col-xs-12 col-lg-2">
              <label for="quantity">Qtd.</label>
              <input type="number" class="form-control" id="quantity" placeholder="" formControlName="quantity">
            </div>

            <div class="form-group col-md-2 col-sm-12 col-xs-12 col-lg-2">
              <label for="action">Ação</label>
              <div class="buttonActionForm">
                <button type="button" class="btn btn-primary " [disabled]="productForm.invalid" (click)="addProduct(productForm.value)" style="width: 40px;">+</button>
              </div>
            </div>
        </div>
      </div>
   </div>

  <div class="row">
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col" class="text-left"><strong>Descrição Produto</strong></th>
          <th scope="col" class="text-center"><strong>Qtd</strong></th>
          <th scope="col" class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td class="text-left">{{ product?.description | uppercase }}</td>
          <td class="text-center">{{ product?.quantity }}</td>
          <td class="text-center">
            <button class="btn btn-danger btn-sm" (click)="removeItem(i)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </table>
  </div>
  </ba-card>

  <div class="row">
    <div class="col-12">
      <ba-card>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <button type="submit" class="btn btn-primary btn-with-icon" [disabled]="orderBuyForm.invalid" (click)="saveOrderBuy(orderBuyForm.value)">
              <i class="ion-android-checkmark-circle"></i>Cadastrar</button>
          </div>
          <div class="col-md-6 col-sm-12">
            <button class="btn btn-danger btn-with-icon" (click)="initForm()" [disabled]="orderBuyForm.pristine">
              <i class="ion-trash-a"></i>Limpar</button>
          </div>
        </div>
      </ba-card>
    </div>
  </div>

  <pre>
    {{ orderBuyForm.value | json }}
  </pre>
  <pre>
    {{ productForm.value | json }}
  </pre>
</form>


