<form [formGroup]="produtoDisponivelForm" novalidate>
  <ba-card cardTitle="Editar Número de Serie">
    <div class="row">
      <div class="form-group col-md-8 col-sm-12 col-xs-12 col-lg-8">
        <label class="control-label" for="descricao">Descrição Produto</label>
        <input type="text" class="form-control" disabled="true" formControlName="description">
      </div>

      <div class="form-group col-md-4 col-sm-12 col-xs-12 col-lg-4">
        <label class="control-label" for="descricao">N. Serial</label>
        <input type="text" class="form-control" formControlName="serialNumber">
      </div>
    </div>
  </ba-card>

  <ba-card>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <button type="submit" class="btn btn-primary btn-with-icon" [disabled]="produtoDisponivelForm.invalid && !eventClick" (click)="editProductAvaiable(produtoDisponivelForm.value.serialNumber)">
          <i class="ion-android-checkmark-circle"></i>Salvar</button>
      </div>
    </div>
  </ba-card>

</form>
