<!-- <p-dataTable
[value]="produtos$ | async"
[lazy]="true"
[rows]="25"
[paginator]="true"
[totalRecords]="totalRecords"
(onLazyLoad)="loadProdutosLazy($event)"
[pageLinks]="5"
[responsive]="true"
[sortOrder]="-1"
[loading]="carregando"
 loadingIcon="ion-load-a"
 rowHover="true"
 sortField="createdAt" styleClass="borderless">

 <p-column field="descricao" header="Descrição Produto" [filter]="true" [style]="{'width':'100px'}"></p-column>
 <p-column field="modelo" header="Modelo" [filter]="true" [style]="{'width':'100px'}"></p-column>
 <p-column field="marca" header="Marca" [filter]="true" [style]="{'width':'100px'}"></p-column>
 <p-column field="categoria" header="Categoria" [filter]="true" [style]="{'width':'100px'}"></p-column>
 <p-column field="valor" header="Valor" [style]="{'width':'100px'}">
    <ng-template let-produto="rowData" pTemplate="body">  {{ produto?.valor | currency: 'BRL': true }}</ng-template>
 </p-column>

  <p-column styleClass="col-button" [style]="{'width':'20px', 'text-align': 'center'}">
    <ng-template let-produto="rowData" pTemplate="body">
      <button type="button" pButton icon="fa fa-pencil" routerLink="/pages/estoque/editar-produto/{{ produto._id }}"></button>
    </ng-template>
  </p-column>

  <ng-template pTemplate="emptymessage">
      <p *ngIf="carregando" >Buscando clientes...</p>
      <p *ngIf="!carregando">Nenhum cliente foi encontrado</p>
  </ng-template>

</p-dataTable> -->
