<div class="no-print" *ngIf="average$ | async; let averageContrato">
  <div class="row mb-4" *ngIf="canUserSeeContractTotal">
    <div class="col-6">
      <div class="card-custom" [ngClass]="{'blurredCard': !isTotalVisible }" (click)="handleTotalCardPress()">
        <div class="content-info-card text-center">
          <div class="value" *ngIf="isShow">{{ averageContrato?.total || 0 | currency: 'BRL': true }}</div>
          <div class="value" *ngIf="!isShow">******</div>
          <div class="title">TOTAL ATIVOS</div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card-custom">
        <div class="content-info-card text-center">
          <div class="value" *ngIf="isShow">{{ averageContrato?.count || 0 }}</div>
          <div class="value" *ngIf="!isShow">******</div>
          <div class="title">QUANTIDADE ATIVO</div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="no-print" *ngIf="mensalAverage$ | async; let averageContrato">
  <div class="row mb-4" *ngIf="canUserSeeContractTotal">
    <div class="col-6">
      <div class="card-custom" [ngClass]="{'blurredCard': !isTotalVisible }" (click)="handleTotalCardPress()">
        <div class="content-info-card text-center">
          <div class="value" *ngIf="isShow">{{ averageContrato?.total || 0 | currency: 'BRL': true }}</div>
          <div class="value" *ngIf="!isShow">******</div>
          <div class="title">TOTAL ATIVOS - MENSAL</div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card-custom">
        <div class="content-info-card text-center">
          <div class="value" *ngIf="isShow">{{ averageContrato?.count || 0 }}</div>
          <div class="value" *ngIf="!isShow">******</div>
          <div class="title">QUANTIDADE ATIVO - MENSAL</div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="no-print" *ngIf="anualAverage$ | async; let averageContrato">
  <div class="row mb-4" *ngIf="canUserSeeContractTotal">
    <div class="col-6">
      <div class="card-custom" [ngClass]="{'blurredCard': !isTotalVisible }" (click)="handleTotalCardPress()">
        <div class="content-info-card text-center">
          <div class="value" *ngIf="isShow">{{ averageContrato?.total || 0 | currency: 'BRL': true }}</div>
          <div class="value" *ngIf="!isShow">******</div>
          <div class="title">TOTAL ATIVOS - ANUAL</div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card-custom">
        <div class="content-info-card text-center">
          <div class="value" *ngIf="isShow">{{ averageContrato?.count || 0 }}</div>
          <div class="value" *ngIf="!isShow">******</div>
          <div class="title">QUANTIDADE ATIVO - ANUAL</div>
        </div>
      </div>
    </div>

  </div>
</div>

<p-dataTable
[value]="contratos$ | async"
[lazy]="true"
[rows]="25"
[paginator]="true"
[totalRecords]="totalRecords"
(onLazyLoad)="loadContratosLazy($event)"
[rowStyleClass]="changeColorText"
[pageLinks]="5"
[responsive]="true"
[sortOrder]="-1"
[loading]="carregando"
loadingIcon="ion-load-a"
rowHover="true"
sortField="createdAt" styleClass="borderless">

<p-column field="numeroContrato" header="Nº Contrato"  [filter]="true" [style]="{'width':'70px'}">
  <ng-template let-contrato="rowData" pTemplate="body">
    {{ contrato?.numeroContrato }}
  </ng-template>
</p-column>

<p-column field="cliente.nome_razao_social" header="Razão Social/Nome" [filter]="true" [style]="{'width':'150px'}">
  <ng-template let-contrato="rowData" pTemplate="body">
    {{ contrato?.cliente?.nome_razao_social }}
  </ng-template>
</p-column>

<p-column field="cliente.cnpj_cpf" header="CNPJ/CPF" [filter]="true" [style]="{'width':'90px'}">
  <ng-template let-contrato="rowData" pTemplate="body">
    {{ contrato?.cliente?.cnpj_cpf | rgCnpjCpf }}
  </ng-template>
</p-column>

<p-column field="tipo" header="TIPO" [filter]="true" [style]="{'width':'70px'}"></p-column>

<p-column field="status" header="Status" [filter]="true" [style]="{'width':'70px'}"></p-column>

<p-column field="valor" header="VALOR" [style]="{'width':'70px'}" *ngIf="canUserSeeContractTotal">
  <ng-template let-contrato="rowData" pTemplate="body">
    {{ contrato?.valor | currency: 'BRL': true }}
  </ng-template>
</p-column>

<p-column styleClass="col-button" [style]="{'width':'20px', 'text-align': 'center'}">
  <ng-template let-contrato="rowData" pTemplate="body">
    <button type="button" class="info" pButton icon="fa fa-info" (click)="abrirModalDeDetalhes(contrato._id)"></button>
  </ng-template>
</p-column>

  <p-column styleClass="col-button" [style]="{'width':'20px', 'text-align': 'center'}">
    <ng-template let-contrato="rowData" pTemplate="body">
      <button type="button" pButton icon="fa fa-pencil" [disabled]="!contrato.ativo" routerLink="/pages/administrativo/editar/{{ contrato._id }}"></button>
    </ng-template>
  </p-column>

  <p-column *ngIf="isUserAllowed" styleClass="col-button" [style]="{'width':'20px', 'text-align': 'center'}">
    <ng-template let-contrato="rowData" pTemplate="body">
      <button type="button" class="trash" pButton icon="fa fa-trash" (click)="deleteContrato(contrato._id)"></button>
    </ng-template>
  </p-column>

  <ng-template pTemplate="emptymessage">
      <p *ngIf="carregando" >Buscando contratos...</p>
      <p *ngIf="!carregando">Nenhum contrato foi encontrado</p>
  </ng-template>

</p-dataTable>
