<div class="row" [formGroup]="formDescricaoAtendimento">

<div class="col-md-4 col-sm-12 col-lg-2">
  <label for="data_atendimento">Data</label>
  <div class="input-group">
      <input class="form-control" placeholder="dd-mm-yyyy" name="dp" 
      ngbDatepicker #d="ngbDatepicker" formControlName="data_atendimento" 
      id="data_atendimento" [(ngModel)]="model">
      <button class="input-group-addon" (click)="d.toggle()" type="button">
        <i class="ion-calendar"></i>
    </button>
  </div>  
</div>

  <div class="col-md-4 col-sm-12 col-lg-3">
    <div class="form-group">
      <label for="descricao_atendimento">Tipo</label>
      <select class="form-control" formControlName="tipo">
        <option value="" disabled selected>Selecione o tipo do atendimento</option>
        <option *ngFor="let tipo_atd of tipoAtendimento" >{{tipo_atd}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-sm- col-lg-2">
    <div class="form-group">
      <label for="descricao_atendimento">Valor</label>
      <input type="text" class="form-control"
      formControlName="valor" id="valor">
    </div>
  </div>

  <div class="col-md-8 col-sm- col-lg-3">
    <div class="form-group">
      <label for="descricao_atendimento">Modelo do equipamento</label>
      <select class="form-control" formControlName="modelo_equipamento">
        <option value="" disabled selected>Selecione o tipo do atendimento</option>
        <option *ngFor="let tipo_atd of tipoAtendimento" >{{tipo_atd}}</option>
      </select>
    </div>
  </div>


  <div class="col-md-4 col-sm- col-lg-2">
    <div class="form-group">
      <label for="numero_equipamento">N° equipamento</label>
      <input type="text" class="form-control"
      formControlName="numero_equipamento" id="numero_equipamento">
    </div>
  </div>


  <div class="col-md-8 col-sm- col-lg-5">
    <div class="form-group">
      <label for="descricao">Descrição do atendimento</label>
      <textarea class="form-control" rows="3"
       formControlName="descricao" id="descricao">
      </textarea>
    </div>
  </div>

  <div class="col-md-4 col-sm- col-lg-7">
    <div class="form-group">
      <label for="testes_efetuados">Testes efetuados</label>
        <textarea class="form-control" rows="3"
          formControlName="testes_efetuados"
          id="testes_efetuados">
        </textarea>
      </div>
  </div>

  <div class="col-md-8 col-sm-12 col-lg-5">
    <div class="form-group">
      <label for="observacao">Observações</label>
      <input type="text" class="form-control"
      formControlName="observacao" id="observacao">
    </div>
  </div>


  <div class="col-md-4 col-sm-12 col-lg-7">
    <div class="form-group">
      <label for="descricao_atendimento">Estacionamento no local?</label>
      <select class="form-control" formControlName="estacionamento">
        <option value="" disabled selected>Selecione o tipo do estacionamento</option>
        <option *ngFor="let estacionamento of tipoEstacionamento" >{{estacionamento}}</option>
      </select>
    </div>
  </div>

</div>
