<div class="modal-header">
  <h4 class="modal-title">Atendimentos disponíveis para {{tecnicoSelecionado}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
<span aria-hidden="true">&times;</span>
</button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12 col-sm-12" *ngFor="let atendimento of atendimentos">
      <ba-card (click)="getAtendimento(atendimento)">
        <div class="card-body">
          <p><strong>{{ atendimento.razao_social }}</strong></p>
          <p class="local"><i class="ion-location"></i> {{ atendimento.rua + " - " +  atendimento.bairro +", "+ atendimento.cidade +" - "+ atendimento.cep}}</p>
        </div>
      </ba-card>
    </div>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-block" (click)="associarAtendimento()">
<i class="ion-android-checkmark-circle"></i> Associar ({{ selecionados.length}})</button>
</div>

