<div class="modal-header">
  <h4 class="modal-title animated flipInX">
    Atendimentos do dia {{ dataSelecionada | date: 'dd/MM/yyyy' }} disponíveis para
    {{funcionarioSelecionado.nome}} </h4>

  <button type="button" class="close" aria-label="Close" (click)="fecharModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="row">
    <div class="col-md-12 col-sm-12" *ngFor="let atendimento of atendimentos | async">
      <ba-card  (click)="selecionarAtendimento(atendimento)">
        <div class="card-body" [ngClass]="{'selecaoDoAtendimento': dessasociarAtendimento(atendimento)}">
          <i *ngIf="dessasociarAtendimento(atendimento)" class="ion-android-checkmark-circle pull-right"></i>
          <p><strong> {{ atendimento?.cliente?.nome_razao_social }} ({{ atendimento?.data_atendimento | date: 'dd/MM/yyyy' }})</strong></p>
          <p class="local"><i class="ion-location">
            </i> {{ atendimento?.endereco?.rua + " - " + atendimento?.endereco?.bairro +", "+ atendimento?.endereco?.cidade +"
            - "+ atendimento?.endereco?.cep }}
          </p>
        </div>
      </ba-card>
    </div>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-block" (click)="associarAtendimento()">
  <i class="ion-android-checkmark-circle"></i> Associar ({{selecionados.length}}) </button>
</div>

