@import '../../../../../theme/sass/conf/conf';
.content {
  height: 500px;
  padding-left: 10px;
  text-transform: capitalize;
  color: #828282;
  .atendimento {
    padding-left: 15px;
    transition: all 0.2s ease-out;
    .razao-social:hover {
      color: $primary;
    }
    .btn-more {
      img {
        height: 15px;
        width: 15px;
      }
    }
    .check {
      background: #4bae4f;
      border-radius: 0 4px 4px 0px;
      box-shadow: -2px 1px 3px -1px #7A7A7A;
      height: auto;
      img {
        height: 30px;
        width: 30px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    img {
      height: 30px;
      width: 30px;
      margin-top: none;
    }
    p {
      font-size: 11px;
    }
    &:hover {
      h6 {
        color: $primary;
      }
      background-color: #ededed;
    }
  }
  .tecnico {
    border-radius: 0 5px 5px 0px;
    color: #ffffff;
    background-color: #0395d7;
    hr {
      border: 0;
      height: 1px;
      background-color: white;
      width: 90%;
    }
    .data,
    .nome-tecnico,
    .qtd-atendimentos {
      width: 100%;
    }
  }
  .scrollbar {
    float: left;
    height: 450px;
    padding: none;
    width: 100%;
    overflow-y: scroll;
  }
  #style-1::-webkit-scrollbar {
    width: 2px;
  }
  #style-1::-webkit-scrollbar-thumb {
    background-color: #828282;
  }
  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #828282(214, 100, 199, 0.3);
  }
}
