<!-- Card com os inputs de dados principais do cliente -->
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Dados principais</h4>
    <div class="row">

      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Razão Social/Nome">
      </div>

      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Nome Fantasia">
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="Inscrição Estadual">
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="CNPJ/CPF">
      </div>

    </div>
  </div>
</div>

<!-- Card com os inputs do contato do cliente -->
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Contato</h4>
    <div class="row">

      <div class="form-group col-md-4 col-sm-12">
        <input type="text" class="form-control" placeholder="E-mail">
      </div>

      <div class="form-group col-md-4 col-sm-12">
        <input type="text" class="form-control" placeholder="Telefone">
      </div>

      <div class="form-group col-md-4 col-sm-12">
        <input type="text" class="form-control" placeholder="Celular">
      </div>

      <div class="form-group col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Observação">
      </div>

    </div>
  </div>
</div>

<!-- Card com os inputs do endereço do cliente -->
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Endereço</h4>
    <div class="row">

      <div class="form-group col-md-12 col-sm-12">
        <input style="width: 15em" type="text" class="form-control" placeholder="CEP">
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="Rua">
      </div>

      <div class="form-group col-md-2 col-sm-12">
        <input type="text" class="form-control" placeholder="Número">
      </div>

      <div class="form-group col-md-4 col-sm-12">
        <input type="text" class="form-control" placeholder="Estado">
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="Complemento">
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="Bairro">
      </div>

    </div>
  </div>
</div>

<!-- Botão de cadastro e de limpeza de dados -->
<div class="text-center">
  <button type="submit" class="btn btn-success">Cadastrar</button>
  <button type="reset" class="btn btn-danger">Limpar</button>
</div>
