<!-- Card com os inputs de dados principais do cliente -->
<div class="row">
  <div class="col-12">
    <ba-card cardTitle="Dados principais">

      <div class="row">
        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="CNPJ ou CPF">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Razão Social ou Nome">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Inscrição Estadual">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Nome Fantasia">
        </div>
      </div>

    </ba-card>
  </div>
</div>

<!-- Card com os inputs das informações de contato do cliente -->
<div class="row">
  <div class="col-12">
    <ba-card cardTitle="Contato">
      <app-contato-cliente></app-contato-cliente>
    </ba-card>
  </div>
</div>

<!-- Card com os inputs das informações de endereço do cliente -->
<div class="row">
  <div class="col-12">
    <ba-card cardTitle="Endereço">
        <app-endereco-cliente></app-endereco-cliente>
    </ba-card>
  </div>
</div>

<!-- Botões de cadastro e de limpeza de dados -->
<div class="row">
  <div class="col-md-6 col-sm-12">
    <button type="submit" class="btn btn-primary btn-with-icon">
      <i class="ion-android-checkmark-circle"></i>Cadastrar Cliente</button>
  </div>

  <div class="col-md-6 col-sm-12">
    <button type="reset" class="btn btn-danger btn-with-icon">
      <i class="ion-trash-a"></i>Limpar Dados</button>
  </div>

</div>
