<!-- Card com os inputs de dados principais do cliente -->
<div class="row">
  <div class="col-12">
    <ba-card cardTitle="Dados principais">

      <div class="row">
        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="CNPJ/CPF">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Razão Social ou Nome">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Inscrição Estadual">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Nome Fantasia">
        </div>
      </div>

    </ba-card>
  </div>
</div>


<!-- Card com os inputs do contato do cliente -->
<div class="row">
  <div class="col-12">
    <ba-card cardTitle="Contato">

      <div class="row">
        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" placeholder="E-mail">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" placeholder="Telefone">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" placeholder="Celular">
        </div>

        <div class="form-group col-md-12 col-sm-12">
          <input type="text" class="form-control" placeholder="Observação">
        </div>
      </div>

    </ba-card>
  </div>
</div>


<!-- Card com os inputs do endereço do cliente -->
<div class="row">
  <div class="col-12">
    <ba-card cardTitle="Endereço">

      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <input style="width: 15em" type="text" class="form-control" placeholder="Insira o CEP">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Rua">
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <input type="text" class="form-control" placeholder="Número">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" placeholder="Bairro">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Complemento">
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <input type="text" class="form-control" placeholder="Estado">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" placeholder="Cidade">
        </div>
      </div>

    </ba-card>
  </div>
</div>

<!-- Botões de cadastro e de limpeza de dados -->
<div class="row">

  <div class="col-md-6 col-sm-12">
    <button type="submit" class="btn btn-primary btn-with-icon">
      <i class="ion-android-checkmark-circle"></i>Cadastrar Cliente</button>
  </div>

  <div class="col-md-6 col-sm-12">
    <button type="reset" class="btn btn-danger btn-with-icon">
      <i class="ion-trash-a"></i>Limpar Dados</button>
  </div>

</div>
