<ba-card cardTitle="Endereço do contrato">
  <div class="form-group" [class.has-success]="enderecoControl.value">
    <div class="row" [formGroup]="enderecoControl">

      <div class="form-group col-md-6 col-sm-6 col-lg-4"
        [class.has-success]="enderecoControl.get('cep').value">
        <label for="cep">CEP</label>
        <input [textMask]="{ mask : mascaraCep }" readonly="true" type="text" class="form-control"
        formControlName="cep"  id="cep">
      </div>

      <div class="form-group col-md-6 col-sm-6 col-lg-6"
        [class.has-success]="enderecoControl.get('rua').value">
        <label for="rua">Rua</label>
        <input type="text" readonly="true" class="form-control"
        formControlName="rua" id="rua">
      </div>

      <div class="form-group col-md-6 col-sm-6 col-lg-2"
        [class.has-success]="enderecoControl.get('numero').value">
        <label for="numero">N°</label>
        <input type="text" readonly="true" class="form-control"
        formControlName="numero" id="numero">
      </div>

      <div class="form-group col-md-6 col-sm-6 col-lg-4"
        [class.has-success]="enderecoControl.get('bairro').value">
        <label for="bairro">Bairro</label>
        <input type="text" readonly="true" class="form-control"
        formControlName="bairro" id="bairro">
      </div>

      <div class="form-group col-md-6 col-sm-6 col-lg-5"
        [class.has-success]="enderecoControl.get('cidade').value">
        <label for="cidade">Cidade</label>
        <input type="text" readonly="true" class="form-control"
        formControlName="cidade" id="cidade">
      </div>

      <div class="form-group col-md-6 col-sm-6 col-lg-3"
        [class.has-success]="enderecoControl.get('uf').value">
        <label for="uf">Estado</label>
        <input type="text" readonly="true" class="form-control"
        formControlName="uf" id="uf">
      </div>

    </div>

  </div>
</ba-card>
