<form novalidate>
    <ba-card cardTitle="Dados do Produto">
      <div class="row">

        <div class="form-group col-md-2 col-sm-12 col-xs-12 col-lg-2">
          <label class="control-label" for="cnpj/cpf">Cnpj/cpf</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-6">
          <label class="control-label" for="socialName">Razao Social/Nome</label>
          <input type="text" class="form-control">
        </div>


      </div>
    </ba-card>


  </form>
