<div class="card">
  <div class="card-body" style="width: 100%" *ngIf="orderBuy$ | async; let order" >
    <div class="content mt-4">

      <h6 class="card-title">Data: {{ order?.createdAt | date: "dd/MM/yyyy HH:mm" }}</h6>
      <h6 class="card-title">Descricao: {{ order?.description | uppercase }} </h6>
      <h6 class="card-title">Estoque Base: {{ order?.baseStock | uppercase }} </h6>
      <h6 class="card-title mt-4">Criado Por: {{ order?.createdBy | uppercase }}</h6>
      <h6 class="card-title mt-4">Status: {{ order?.status | uppercase }}</h6>
      <h6 class="card-title">Motivo: {{ order?.reason | uppercase }}</h6>

      <table class="table table-hover text-left mt-4">
        <thead>
          <tr>
            <th scope="col" class="text-left"><strong>Produto</strong></th>
            <th scope="col" class="text-center"><strong>Qtd</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order?.products">
            <td class="text-left">{{ item?.description | uppercase }}</td>
            <td class="text-center">{{ item?.quantity }}</td>
          </tr>
      </table>

      <div class="form-group mt-4 no-print" *ngIf="order?.status !== 'CANCELADO'">
        <label for="reason cancel">Cancelar Ordem de Compra</label>
        <input class="form-control" [(ngModel)]="reason" />
        <button class="btn btn-success mt-4" [disabled]="!reason && !eventClick" (click)="editOrderBuy()">Salvar</button>
      </div>

    </div>
  </div>
</div>
