<div class="row">
  <div class="col-md-6 col-sm-12 t">
    <ba-card>
      <div class="text-center">
        <!-- <img src="./../../../assets/img/app/profile/alan.jpg" alt="Pessoa"> -->
        <h4>Alan Teixeira Lima</h4>
      </div>
      <hr>

      <div class="table table-responsive" >
          <table class="table">
            <thead>
              <tr class="border-top: none">
                <th>Avaliação</th>
                <th>Atendimentos</th>
                <th>Concluídos</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-top: none">
                <td><i class="ion-ios-star-half"></i> 2.1</td>
                <td><i class="ion-settings"></i> 69</td>
                <td><i class="ion-checkmark"></i> 3/4</td>
              </tr>
            </tbody>
          </table>
          </div>
      <button type="button" class="btn btn-circle pull-right">
      <i class="ion-plus-round"></i></button>
    </ba-card>
  </div>
</div>
