<div class="modal-header">
  <h3 class="modal-title">
    {{ atendimentoSelecionado.cliente.nome_razao_social }}
    <small>
      - {{ atendimentoSelecionado.cliente.cnpj_cpf | rgCnpjCpf }}
    </small>
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="fecharModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<hr>

<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <h4>Contato do cliente</h4>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12">

          <p *ngIf="atendimentoSelecionado.contato.nome">
            <strong><i class="ion-person"></i> Nome:</strong> {{ atendimentoSelecionado.contato.nome }}
          </p>

          <p class="text-truncate">
            <strong><i class="ion-email"></i> E-mail:</strong> {{ atendimentoSelecionado.contato.email }}
          </p>

        </div>

        <div class="col-md-6 col-lg-6 col-xs-12">

          <p>
            <strong><i class="fa fa-phone" aria-hidden="true"></i> Telefone:</strong>
            ({{ atendimentoSelecionado.contato.telefone | slice: 0:2 }})
            {{ atendimentoSelecionado.contato.telefone | slice: 2:6 }} -
            {{ atendimentoSelecionado.contato.telefone | slice: 6:10 }}
          </p>
          <p *ngIf="atendimentoSelecionado.contato.celular">
            <strong><i class="fa fa-mobile" aria-hidden="true"></i> Celular:</strong>
            ({{ atendimentoSelecionado.contato.celular | slice: 0:2 }})
            {{ atendimentoSelecionado.contato.celular | slice: 2:6 }} -
            {{ atendimentoSelecionado.contato.celular | slice: 6:10 }}
          </p>

        </div>

      </div>
    </div>

    <div class="col-12 mt-2">
      <h4>Informações do atendimento</h4>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12">

          <p><strong><i class="ion-calendar"></i> Data:</strong>
            {{ atendimentoSelecionado.data_atendimento | date: 'dd/MM/yy' }}
          </p>

        </div>

        <div class="col-md-6 col-lg-6 col-xs-12">
          <p><strong><i class="fa fa-cogs" aria-hidden="true"></i> Tipo:</strong>
            {{ atendimentoSelecionado.tipo }} </p>
        </div>

        <div class="col-md-6 col-lg-6 col-xs-12">
          <p><strong><i class="fa fa-cog" aria-hidden="true"></i> Equipamento:</strong>
            {{ atendimentoSelecionado.modelo_equipamento }}</p>
        </div>

        <div *ngIf="atendimentoSelecionado.autorizado" class="col-md-6 col-lg-6 col-xs-12">
            <p><strong><i class="fa fa-handshake-o" aria-hidden="true"></i> Autorizado por:</strong>
              {{ atendimentoSelecionado.autorizado }}</p>
        </div>

        <div *ngIf="atendimentoSelecionado.valor" class="col-md-6 col-lg-6 col-xs-12">
            <p class="valor animated bounceInRight"><strong><i class="ion-cash"></i> Valor:</strong>
              R$ {{ atendimentoSelecionado.valor }}</p>
        </div>

        <div *ngIf="atendimentoSelecionado.numero_equipamento" class="col-md-6 col-lg-6 col-xs-12">

          <p>
            <strong><i class="fa fa-list-ol" aria-hidden="true"></i> N° equipamento:</strong>
             {{ atendimentoSelecionado.numero_equipamento }}
          </p>

        </div>

      </div>

      <div class="row">
        <div class="col-12">

          <p>
            <strong><i class="ion-clipboard"></i> Descrição:</strong>
            {{ atendimentoSelecionado.descricao }}
          </p>

          <p *ngIf="atendimentoSelecionado.observacao" >
              <strong><i class="fa fa-comment-o" aria-hidden="true"></i> Observação:</strong>
              {{ atendimentoSelecionado.observacao }}
          </p>

          <p>
            <strong><i class="ion-wrench"></i> Testes efetuados:</strong>
            {{ atendimentoSelecionado?.testes_efetuados }}
          </p>
<!--
          <p >
            <strong><i class="fa fa-camera" aria-hidden="true"></i> Imagem(s):</strong>
            Este atendimento possui {{ atendimentoSelecionado?.imagens.length || 0 }} imagem(s)
          </p> -->

        </div>
      </div>

    </div>

    <div class="col-12 mt-2">
      <h4>Local do atendimento</h4>
      <div class="row">
        <div class="col-12">

          <p>
            <strong><i class="fa fa-map-marker" aria-hidden="true"></i> Endereço:</strong>
            {{ atendimentoSelecionado?.endereco.rua }},
            {{atendimentoSelecionado?.endereco.numero}} -
            {{ atendimentoSelecionado?.endereco.bairro}},
            {{ atendimentoSelecionado?.endereco.cidade }},
            {{ atendimentoSelecionado?.endereco.uf }} -
            {{ atendimentoSelecionado?.endereco.cep | cep }}
          </p>

          <p>
            <strong><i class="ion-model-s"></i> Estacionamento: </strong>
            {{ atendimentoSelecionado.estacionamento }}
          </p>

          <p *ngIf="atendimentoSelecionado.endereco.ponto_referencia">
            <strong><i class="fa fa-home" aria-hidden="true"></i> Ponto de referência:</strong>
            {{ atendimentoSelecionado.endereco.ponto_referencia }}
          </p>

          <p *ngIf="atendimentoSelecionado.endereco.complemento">
              <strong><i class="fa fa-exchange" aria-hidden="true"></i> Complemento:</strong>
              {{ atendimentoSelecionado.endereco.complemento }}
          </p>

        </div>
      </div>
    </div>

    <div class="col-12 mt-2">
        <h4>Histórico</h4>
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-12">

            <p><strong><i class="fa fa-user-plus" aria-hidden="true"></i> Criado por:</strong>
              {{ atendimentoSelecionado.createdBy }}
              em {{ atendimentoSelecionado.createdAt | date: 'dd/MM/yyyy'}}
              às {{ atendimentoSelecionado.createdAt | date: 'HH:MM'}}
            </p>

            <p>
               <strong><i class="fa fa-file-text" aria-hidden="true"></i> Situação:</strong>
               <span *ngIf="atendimentoSelecionado.situacao.status === 'aberto'">Aberto</span>
               <span *ngIf="atendimentoSelecionado.situacao.status === 'reagendar'">Reagendado</span>
               <span *ngIf="atendimentoSelecionado.situacao.status === 'cancelar'">Cancelado</span>
               <span *ngIf="atendimentoSelecionado.situacao.status === 'encaixe'">Encaixe</span>
            </p>


         </div>

          <div class="col-md-6 col-lg-6 col-xs-12">

              <p *ngIf="atendimentoSelecionado.updatedBy" >
                <strong><i class="fa fa-refresh" aria-hidden="true"></i> Atualizado por:</strong>
                {{ atendimentoSelecionado.updatedBy }}
                em {{ atendimentoSelecionado.updatedAt | date: 'dd/MM/yyyy'}}
                às {{ atendimentoSelecionado.updatedAt | date: 'HH:MM'}}
              </p>

              <p *ngIf="atendimentoSelecionado.situacao.motivo">
                <strong><i class="fa fa-address-card" aria-hidden="true"></i> Motivo:</strong>
                {{ atendimentoSelecionado.situacao.motivo }}
              </p>

          </div>

          <div class="col-md-12 col-lg-12 col-xs-12">

              <p *ngIf="atendimentoSelecionado.tecnico.nome"><strong><i class="fa fa-user-circle" aria-hidden="true"></i> Técnico: </strong>
                <span class="animated zoomInUp" *ngIf="atendimentoSelecionado.estado === 'associado'">{{ atendimentoSelecionado.tecnico.nome | split: 0 }} está associado </span>
                <span class="animated zoomInUp" *ngIf="atendimentoSelecionado.estado === 'em_deslocamento'">{{ atendimentoSelecionado.tecnico.nome | split: 0 }} está em deslocamento</span>
                <span class="animated zoomInUp" *ngIf="atendimentoSelecionado.estado === 'chegou_ao_destino'">{{ atendimentoSelecionado.tecnico.nome | split: 0 }} chegou ao destino</span>
                <span class="animated zoomInUp" *ngIf="atendimentoSelecionado.estado === 'inicio_atendimento'">{{ atendimentoSelecionado.tecnico.nome | split: 0 }} iniciou o atendimento</span>
                <span class="animated zoomInUp" *ngIf="atendimentoSelecionado.estado === 'fim_do_atendimento'">
                  {{ atendimentoSelecionado.tecnico.nome | split: 0 }} concluiu o atendimento no dia
                  {{ atendimentoSelecionado.fim | date: 'dd'}} às
                  {{ atendimentoSelecionado.fim | date: 'HH:MM'}}
                </span>
              </p>

          </div>

        </div>
    </div>
  </div>
</div>


<div class="modal-footer">

  <button type="button"
    class="btn btn-info"
    (click)="fecharModal()"
    routerLink="/pages/atendimentos/detalhes/{{ atendimentoSelecionado._id }}"
    title="Edite informações do atendimento">
    <i class="fa fa-pencil"></i>
      Editar
  </button>

  <button type="button"
    class="btn btn-primary"
    (click)="fecharModal()"
    routerLink="/pages/atendimentos/dados-app/{{ atendimentoSelecionado._id }}"
    title="Visualize detalhes do atendimento, desde o cadastro até toda a interação realizada pelo técnico com o aplicativo">
    <i class="fa fa-id-card-o"></i>
    Detalhes
  </button>

</div>
