<div>
  <ul class="header">
    <li>Detalhes do Atendimento</li>
    <li (click)="fecharModal()"><i class="fa fa-times" aria-hidden="true"></i></li>
  </ul>
</div>

<div class="content-modal">
  <ul class="nav-tabs">
    <li class="tab {{ tabActived === 'atendimento' ? 'atived': ''}}" (click)="getTab('atendimento')">Atendimento</li>
    <li class="tab {{ tabActived === 'relatorio' ? 'atived': ''}}" (click)="getTab('relatorio')">Relatório</li>
    <li class="tab {{ tabActived === 'faturamento' ? 'atived': ''}}" (click)="getTab('faturamento')">Faturamento</li>
    <li class="tab {{ tabActived === 'fotos' ? 'atived': ''}}" (click)="getTab('fotos')">Fotos</li>
    <li class="tab {{ tabActived === 'assinatura' ? 'atived': ''}}" (click)="getTab('assinatura')">Assinatura</li>
  </ul>

  <div class="name-of-client">
    <h5 class="mb-1">
      {{ atendimentoSelecionado?.cliente.nome_razao_social }} -
      {{ atendimentoSelecionado?.cliente.cnpj_cpf | rgCnpjCpf }}
    </h5>
    <h5>Visita autorizada por: {{ atendimentoSelecionado.liberacao.nome_supervisor | uppercase }}</h5>
  </div>
  <div class="situacao">
     <p class="text-green" *ngIf="atendimentoSelecionado?.faturamento?.status">
        {{ atendimentoSelecionado?.faturamento?.status ? 'Faturado' : '' }}
        <span *ngIf="atendimentoSelecionado?.faturamento?.status">
        {{ atendimentoSelecionado?.faturamento?.faturamentoAt | date: 'dd/MM/yyyy'}}
       </span>
       <i class="fa fa-check" aria-hidden="true"></i>
    </p>
    <p class="text-green" *ngIf="atendimentoSelecionado?.isViewed">
      {{ atendimentoSelecionado?.isViewed ? 'Lido' : '' }}
      <i class="fa fa-check" aria-hidden="true"></i>
    </p>
  </div>

  <div class="scrollbar-panel-list" id="style-1">
    <div *ngIf="tabActived === 'atendimento'">
      <app-atendimento-detail [atendimentoSelecionadoDetail]="atendimentoSelecionado"></app-atendimento-detail>
    </div>

    <div *ngIf="tabActived === 'relatorio'">
      <app-relatorio-tecnico-detail [relatorioTecnico]="atendimentoSelecionado"></app-relatorio-tecnico-detail>
    </div>

    <div *ngIf="tabActived === 'faturamento'">
      <app-faturamento [faturamentoDetail]="atendimentoSelecionado"></app-faturamento>
    </div>

    <div *ngIf="tabActived === 'fotos'">
      <app-fotos-atendimento [fotosAtendimento]="atendimentoSelecionado.imagens"></app-fotos-atendimento>
    </div>

    <div *ngIf="tabActived === 'assinatura'">
      <app-assinatura [assinaturaDetail]="atendimentoSelecionado?.assinatura"></app-assinatura>
    </div>
  </div>

  <div class="col-12 mt-4 text-center" *ngIf="atendimentoSelecionado.tecnico.nome">
    <h6 class="text-muted destaque-danger">
      Para editar este atendimento, você deve desassociar!
    </h6>
  </div>

</div>

<div class="modal-footer" *ngIf="!atendimentoSelecionado?.assinatura?.atendimentoID">
  <button type="button"
    class="btn btn-info"
    (click)="fecharModal()"
    [disabled]="atendimentoSelecionado.tecnico.nome"
    routerLink="/pages/atendimentos/detalhes/{{ atendimentoSelecionado._id }}"
    title="Edite informações do atendimento">
    <i class="fa fa-pencil"></i>
      Editar
  </button>
  </div>
