p {
    i {
        font-size: 1em;
    }
    font-size: 13px;
    color:#5a5a5a;
    strong {
        color: #414141;
    }
}

h4 {
    color: #0093D7;
    font-size: 0.9em;
}

p, h3, h4 {
    text-transform: uppercase;
}