h3, h4, h5 {
    text-transform: uppercase;
}

h4 {
  color: #007CD9;
}

.destaque {
  color: #27396F !important;
  font-weight: 600 !important;
}

.destaque-danger {
  color: rgb(187, 0, 0) !important;
}
