<!-- Card com os inputs de dados principais do funcionário -->
<div class="row">
  <div class="col-12">
    <ba-card cardTitle="Dados principais">

      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <input type="text" class="form-control" placeholder="Nome completo">
        </div>

        <div class="col-md-4 col-sm-12">
          IMAGEM DO FUNCIONÁRIO
        </div>

        <div class="form-group col-md-3 col-sm-12">
          <input type="text" class="form-control" placeholder="RG">
        </div>

        <div class="form-group col-md-3 col-sm-12">
          <input type="text" class="form-control" placeholder="CPF">
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <input type="text" class="form-control" placeholder="Data de Nasc.">
        </div>
      </div>

    </ba-card>
  </div>
</div>

<!-- Card com os inputs de informações de contato do funcionário -->
<div class="row">
  <div class="col-12">
    <ba-card cardTitle="Contato">

      <div class="row">
        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" placeholder="E-mail">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" placeholder="Telefone">
        </div>

        <div class="form-group col-md-4 col-sm-12">
          <input type="text" class="form-control" placeholder="Celular">
        </div>

        <div class="form-group col-md-12 col-sm-12">
          <input type="text" class="form-control" placeholder="Observação">
        </div>
      </div>

    </ba-card>
  </div>
</div>

<!-- Card com os inputs de informações da 
  carteira de habilitação do funcionário -->
<div class="row">
  <div class="col-12">
    <ba-card cardTitle="Habilitação">

      <div class="row">
        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="N° do Registro">
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <input type="text" class="form-control" placeholder="Validade da Carteira">
        </div>
      </div>

    </ba-card>
  </div>
</div>

<!-- Botões de cadastro e de limpeza de dados -->
<div class="row">

  <div class="col-md-6 col-sm-12">
    <button type="submit" class="btn btn-primary btn-with-icon">
      <i class="ion-android-checkmark-circle"></i>Cadastrar técnico</button>
  </div>

  <div class="col-md-6 col-sm-12">
    <button type="reset" class="btn btn-danger btn-with-icon">
      <i class="ion-trash-a"></i>Limpar dados</button>
  </div>

</div>

