
<!-- Card com os inputs das informações de contato do cliente -->
<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-6">
      <ba-card cardTitle="Atendimentos">

          <div class="row">
              <div class="col-md-6 col-sm-12 col-lg-4 col-xs-12">
                 <label for="param_busca">Pesquisar por data</label>
                 <div class="input-group">
                     <input class="form-control" name="dp"
                     ngbDatepicker #d="ngbDatepicker" name="busca_data"
                     [(ngModel)]="model"  (ngModelChange)="listaAtendimentoData()"
                     id="param_busca">
                     <button class="input-group-addon" (click)="d.toggle()" type="button">
                       <i class="ion-calendar"></i>
                     </button>
                 </div>
               </div>
             </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Data Atendimento</th>
              <th>Razão Social / Nome</th>
              <th>Cnpj/CPF</th>
              <th>Criado Por</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let atendimento of atendimentos | async">
              <th scope="row">{{ atendimento?.data_atendimento | date: 'dd/MM/yyyy' }} - {{ atendimento?.createdAt | date: 'HH:mm' }}</th>
              <td>{{ atendimento?.cliente?.nome_razao_social }}</td>
              <td>{{ atendimento?.cliente?.cnpj_cpf }}</td>
              <td>{{ atendimento?.createdBy }}</td>
              <td>
                <button type="button" class="btn btn-info" title="Edição do atendimento"
                (click)="selecionaAtendimento(atendimento?._id)">
                  <i class="ion-information-circled"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ba-card>
    </div>

  <div class="col-md-12 col-sm-12 col-lg-6">
    <ba-card cardTitle="Dados Atendimentos">


          <div *ngIf="atendimentoSelecionado?.cliente?.cnpj_cpf">
            <h6 class="text-center">Informações principais</h6>
          <div class="conteudo p-2" >
            <p><strong>Cliente:</strong> {{ atendimentoSelecionado?.cliente.nome_razao_social }} </p>
            <p *ngIf="atendimentoSelecionado?.cliente.cnpj_cpf.length > 11"><strong>CNPJ:</strong> {{ atendimentoSelecionado?.cliente.cnpj_cpf }} </p>
            <p *ngIf="atendimentoSelecionado?.cliente.cnpj_cpf.length < 11"><strong>CPF:</strong> {{ atendimentoSelecionado?.cliente.cnpj_cpf }} </p>
            <p *ngIf="atendimentoSelecionado?.cliente.inscricao_estadual"><strong>Inscricao estadual:</strong> {{ atendimentoSelecionado?.cliente.inscricao_estadual }}</p>
            <p *ngIf="atendimentoSelecionado?.cliente.nome_fantasia"><strong>Nome fantasia:</strong> {{ atendimentoSelecionado?.cliente.nome_fantasia }}</p>
            </div>

            <div class="conteudo p-2">
              <p><strong>Contato:</strong> {{ atendimentoSelecionado?.contato.nome }} </p>
              <p><strong>E-mail:</strong> {{ atendimentoSelecionado?.contato.email }} </p>
              <p><strong>Telefone:</strong> {{ atendimentoSelecionado?.contato.telefone }} </p>
              <p *ngIf="atendimentoSelecionado?.contato.celular"><strong>Celular:</strong> {{ atendimentoSelecionado?.contato.celular }}</p>

            </div>

            <div class="conteudo p-2">
                <p style="line-height: 20px;">
                  <strong>Endereço de Atendimento:</strong> {{ atendimentoSelecionado?.endereco.rua }}, {{atendimentoSelecionado?.endereco.numero}}, {{ atendimentoSelecionado?.endereco.bairro}},
                  {{ atendimentoSelecionado?.endereco.cidade }}, {{ atendimentoSelecionado?.endereco.uf }} - {{ atendimentoSelecionado?.endereco.cep }}
                </p>
                <p style="line-height: 20px;">
                  <strong>Ponto de Referencia:</strong> {{ atendimentoSelecionado?.endereco.ponto_referencia }} </p>

              </div>


              <div class="conteudo p-2">
                  <p><strong>Criado em:</strong> {{ atendimentoSelecionado?.createdAt | date: 'dd/MM/yy' }}</p>
                  <p><strong>Data do atendiemento:</strong> {{ atendimentoSelecionado?.data_atendimento | date: 'dd/MM/yy'}}</p>
                  <hr>
                  <p><strong>Tipo: </strong> {{ atendimentoSelecionado?.tipo }}</p>
                  <p><strong>Problema:</strong> {{ atendimentoSelecionado?.descricao }}</p>
                  <p><strong>Testes efetuados:</strong> {{ atendimentoSelecionado?.testes_efetuados }}</p>
                  <hr>
                  <p *ngIf="atendimentoSelecionado?.observacao"><strong>Observação:</strong> {{ atendimentoSelecionado?.observacao }}</p>
                  <p><strong>Estacionamento:</strong> {{ atendimentoSelecionado?.estacionamento }}</p>
                  <p>
                      <p><strong>Aberto por: </strong> <span style="text-transform: capitalize">{{ atendimentoSelecionado?.createdBy }} {{ atendimentoSelecionado?.createdAt | date: 'HH:mm' }}</span> </p>
                        <p><strong>Alterado por:</strong> {{ atendimentoSelecionado?.updatedBy }} {{ atendimentoSelecionado?.updatedAt | date: 'HH:mm' }}</p>
                </div>
          </div>
    </ba-card>
  </div>
</div>
