div {
  color: #292b2c;
}

.destaque i {
  color: green;
}

.photo {
  width: 120px;
  height: 120px;
}

.info-client p {
  margin: 0;
}

img {
 width: 300px;
 height: auto;
}

.logo {
  height: auto;
  width: 200px;
}

table {
  margin: 0 16px 0 16px;
}

table tr td, tr th {
  text-align: center;
}

table tr td.description, tr th.description {
  text-align: left;
}

table tr td {
  border-bottom: 1px dashed #ddd;
}
.equipment-info {
  margin: 25px 0 0 16px;
}

.info-client p {
  margin: 0;
}

.info-client-pay {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.title-special {
  font-size: 1.2em;
}
