<form [formGroup]="formEnderecoAtendimento">


<div class="row" >

   <div class="col-md-12 col-sm-12">
    <div class="form-group">
      <select class="form-control">
        <option value="" disabled selected>Selecione o endereço</option>
        <option>Endereço 1</option>
      </select>
    </div>
  </div>

</div>

<div class="row">
  <div class="form-group col-md-2 col-sm-12">
    <input type="text" class="form-control" formControlName="cep" placeholder="CEP" (blur)="buscaPorCep($event.target.value)">
  </div>

  <div class="form-group col-md-8 col-sm-12">
    <input type="text" class="form-control" formControlName="rua" placeholder="Rua">
  </div>

  <div class="form-group col-md-2 col-sm-12">
    <input type="text" class="form-control" formControlName="numero" placeholder="Nº">
  </div>

  <div class="form-group col-md-4 col-sm-12">
    <input type="text" class="form-control" formControlName="bairro" placeholder="Bairro">
  </div>

  <div class="form-group col-md-6 col-sm-12">
    <input type="text" class="form-control" formControlName="cidade" placeholder="Cidade">
  </div>

  <div class="form-group col-md-2 col-sm-12">
    <input type="text" class="form-control" formControlName="estado" placeholder="UF">
  </div>

  <div class="form-group col-md-12 col-sm-12">
    <input type="text" class="form-control" formControlName="complemento" placeholder="Ponto de Referência">
  </div>


  <div class="form-group col-md-12 col-sm-12">
    <input type="text" class="form-control" formControlName="ponto_referencia" placeholder="Ponto de Referência">
  </div>
</div>

</form>
