<form [formGroup]="formContato">

  <div class="row">

    <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-6" 
      [class.required]="formContato.hasError('required')">
      <label for="nome">Nome</label>
      <input type="text" class="form-control"
      formControlName="nome" id="nome">

      <div class="text-danger" ngxErrors="nome" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small><i class="ion-close"></i> Requerido!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-6" 
      [class.required]="formContato.hasError('required')">
      <label for="email">E-mail <small>(opc.)</small></label>
      <input type="email" class="form-control"
      formControlName="email" id="email">

      <div class="text-danger" ngxErrors="email" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small><i class="ion-close"></i> Requerido!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-6" 
      [class.required]="formContato.hasError('required')">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control"
      formControlName="telefone" id="telefone" [textMask]="{ mask : mascaraTelefone }">

      <div class="text-danger" ngxErrors="telefone" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small><i class="ion-close"></i> Requerido!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-6" 
      [class.required]="formContato.hasError('required')">
      <label for="celular">Celular <small>(opc.)</small></label>
      <input type="text" class="form-control"
      formControlName="celular" id="celular" [textMask]="{ mask : mascaraTelefone }">
    </div>

    <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-12">
      <label for="observacao">Observação <small>(opc.)</small></label>
      <input type="text" class="form-control"
      formControlName="observacao" id="observacao">
    </div>
  </div>

  </form>
