<form [formGroup]="formContato">

  <div class="row">

    <div class="form-group col-md-3 col-sm-12" [class.required]="formContato.hasError('required')">
      <label for="nome">Nome</label>
      <input type="text" class="form-control"
      formControlName="nome" id="nome">

      <div class="text-danger" ngxErrors="nome" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small>Obrigatório!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-3 col-sm-12" [class.required]="formContato.hasError('required')">
      <label for="email">E-mail</label>
      <input type="email" class="form-control"
      formControlName="email" id="email">

      <div class="text-danger" ngxErrors="email" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small>Obrigatório!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-3 col-sm-12" [class.required]="formContato.hasError('required')">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control"
      formControlName="telefone" id="telefone">
      
      <div class="text-danger" ngxErrors="telefone" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small>Obrigatório!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-3 col-sm-12" [class.required]="formContato.hasError('required')">
      <label for="celular">Celular</label>
      <input type="text" class="form-control"
      formControlName="celular" id="celular">

      <div class="text-danger" ngxErrors="celular" #myError="ngxErrors">
          <div ngxError="required" when="touched">
            <small>Obrigatório!</small>
          </div>
        </div>
    </div>

    <div class="form-group col-md-12 col-sm-12">
      <label for="observacao">Observação</label>
      <input type="text" class="form-control"
      formControlName="observacao" id="observacao">
    </div>
  </div>

  </form>
