<form [formGroup]="formContato">

  <div class="row">
  <div class="col-md-12 col-sm-12" *ngIf="!desabilitaSelecionarContato">
      <div class="form-group">
         <select class="form-control"
            *ngFor="let contato of clienteRecebido?.contatos">
           <option value="" disabled selected>Selecione o contato</option>
           <option >
             {{ contato?.nome+', '+ contato?.telefone+', '+ contato?.email }}
            </option>
         </select>
       </div>
     </div>

    <div class="form-group col-md-12 col-sm-12" *ngIf="!desabilitaNome">
      <label for="nome">Nome</label>
      <input type="text" class="form-control"
      formControlName="nome" id="nome">
    </div>

    <div class="form-group col-md-4 col-sm-12">
      <label for="email">E-mail</label>
      <input type="email" class="form-control"
      formControlName="email" id="email">
    </div>

    <div class="form-group col-md-4 col-sm-12">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control"
      formControlName="telefone" id="telefone">
    </div>

    <div class="form-group col-md-4 col-sm-12">
      <label for="celular">Celular</label>
      <input type="text" class="form-control"
      formControlName="celular" id="celular">
    </div>

    <div class="form-group col-md-12 col-sm-12">
      <label for="observacao">Observação</label>
      <input type="text" class="form-control"
      formControlName="observacao" id="observacao">
    </div>

  </div>

  </form>
