<div class="modal-header">
  <h4 class="modal-title">Detalhes do Atendimento</h4>
  <button type="button" class="close" aria-label="Close" (click)="fecharModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<hr class="mt-1">

<div class="modal-body">
  <div class="container">

      <ngb-tabset>

        <ngb-tab title="Dados do Atendimento">
          <ng-template ngbTabContent>
            <app-atendimento-detail [atendimentoSelecionadoDetail]="atendimentoSelecionado"></app-atendimento-detail>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Relatório do Técnico">
          <ng-template ngbTabContent>
            <app-relatorio-tecnico-detail [relatorioTecnico]="atendimentoSelecionado"></app-relatorio-tecnico-detail>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Fotos do Atendimento">
          <ng-template ngbTabContent>
            <app-fotos-atendimento [fotosAtendimento]="atendimentoSelecionado"></app-fotos-atendimento>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
</div>

<div class="modal-footer"></div>
