<div>
  <ul class="header">
    <li>Detalhes do Atendimento</li>
    <li (click)="fecharModal()"><i class="fa fa-times" aria-hidden="true"></i></li>
  </ul>
</div>

<div class="content-modal">
  <ul class="nav-tabs">
    <li class="tab {{ tabActived === 'atendimento' ? 'atived': ''}}" (click)="getTab('atendimento')">Atendimento</li>
    <li class="tab {{ tabActived === 'relatorio' ? 'atived': ''}}" (click)="getTab('relatorio')">Relatório</li>
    <li class="tab {{ tabActived === 'faturamento' ? 'atived': ''}}" (click)="getTab('faturamento')">Faturamento</li>
    <li class="tab {{ tabActived === 'fotos' ? 'atived': ''}}" (click)="getTab('fotos')">Fotos</li>
  </ul>

  <div class="name-of-client">
    <h5 class="mb-1">
      {{ atendimentoSelecionado?.cliente.nome_razao_social }} -
      {{ atendimentoSelecionado?.cliente.cnpj_cpf | rgCnpjCpf }}
    </h5>
  </div>

  <div class="scrollbar-panel-list" id="style-1">
    <div *ngIf="tabActived === 'atendimento'">
      <app-atendimento-detail [atendimentoSelecionadoDetail]="atendimentoSelecionado"></app-atendimento-detail>
    </div>

    <div *ngIf="tabActived === 'relatorio'">
      <app-relatorio-tecnico-detail [relatorioTecnico]="atendimentoSelecionado"></app-relatorio-tecnico-detail>
    </div>

    <div *ngIf="tabActived === 'faturamento'">
      <app-faturamento [faturamentoDetail]="atendimentoSelecionado"></app-faturamento>
    </div>

    <div *ngIf="tabActived === 'fotos'">
      <app-fotos-atendimento [fotosAtendimento]="atendimentoSelecionado"></app-fotos-atendimento>
    </div>
  </div>
</div>

