/* You can add global styles to this file, and also import other style files */

@import './app/theme/sass/conf/conf.scss';

.btn {
  width: 100%;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

button {
  cursor: pointer;
}

span {
  i {
    font-size: 20px;
    color: $primary;
    padding: 5px;
    cursor: pointer;
    &:hover {
      color: $info;
    }
  }
}

.padrao {
  color: #707070;
}

.cancelado {
  font-weight: bold;
  color: #FF2A2A !important;
}

.reagendamento {
  color: green;
  font-weight: bold;
}

.aberto-por-tecnica {
  color: #FFB200;
  font-weight: bold;
}

.ui-button.info {
  background-color: #0093D7;
  border: 1px solid #0093D7;
}

.ui-datatable {
  input {
    border: 1px solid #878889;
    border-radius: 03px;
    height: 30px;
  }
  .ui-datatable-thead> tr > th {
    background: #fafafa;
    height: 55px;
    color: white;
      &:hover {
        background: #fafafa !important;
        color: #fff;
    }
  }
  .ui-datatable-thead>td {
    background: red !important;
    background-color: red !important;
  }
  .ui-datatable-emptymessage	{
    text-align: center;
  }
  .ui-column-title {
    text-transform: uppercase;
    color: #212121;
    font-weight: bold;
  }
  .ui-paginator {
    background: #fff;
    .ui-button {
      background: red;
    }
  }
  .ui-cell-data {
    text-transform: uppercase;
    font-size: 1em;
  }
  .ui-column-filter	{
    text-align: center;
    color: grey;
  }
}

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none !important;
}