/* You can add global styles to this file, and also import other style files */

@import './app/theme/sass/conf/conf.scss';

.btn {
  width: 100%;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

button {
  cursor: pointer;
}

span {
  i {
    font-size: 20px;
    color: $primary;
    padding: 5px;
    cursor: pointer;
    &:hover {
      color: $info;
    }
  }
}

.reagendamento {
  background: #26FB66 !important;
}

.cancelado {
  background: #FF2A2A !important;
  color: white !important;
}

.reagendamento {
  background: #26FB66;
}

.cancelado {
  background: #FF2A2A;
  color: white;
}

.aberto-por-tecnica {
  background: rgb(252, 255, 58);
}

.ui-button.detalhes {
  background-color: #1B42B0;
  border: 1px solid blue;
}
