/* You can add global styles to this file, and also import other style files */
@import './app/theme/sass/conf/conf.scss';

.btn {
  width: 100%;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

span {
  i {
    font-size: 20px;
    color: $primary;
    padding: 5px;
    cursor: pointer;
    &:hover {
      color: $info;
    }
  }
}
