<pre>{{ formEquipamento.value | json }}</pre>

<pre>{{ formEquipamento.valid }}</pre>

<ba-card cardTitle="equipamento">
  <div class="row">

    <div class="form-group col-md-5 col-sm-12 col-xs-12 col-lg-3">
      <label for="typeahead-focus">Dados do Equipamento</label>
      <input id="typeahead-basic" type="text" class="form-control mb-3"/>
      <div class="list-group list-group-flush small scrollbar" id="style-1">
        <div *ngFor="let equip of equips">
          <a class="list-group-item list-group-item-action" (click)="selecionarEquipamento(equip)">
            <img class="d-flex mr-3" src="assets/img/equipamento.jpg" width="45" height="45" alt="">
            <div class="media">
              <div class="media-body">
                <strong>{{ equip?.modelo }}</strong>
                <p>
                  <small>{{ equip?.fabricante }}</small>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="form-group col-md-7 col-sm-12 col-xs-12 col-lg-9">

      <div class="row pt-4" [formGroup]="formEquipamento">

        <div class="col-12 mb-2">
          <div class="media list-group-item">
            <h6
              class="mt-4 mb-4 text-center"
              *ngIf="!formEquipamento.get('modelo').value">
              Selecione um Equipamento
            </h6>
            <img class="d-flex mr-3" *ngIf="formEquipamento.get('modelo').value" src="assets/img/equipamento.jpg" width="65" height="65" alt="">
            <div
              class="media-body"
              *ngIf="formEquipamento.get('modelo').value">
              <h6 class="mt-0 mb-1 text-primary">
                {{ formEquipamento.get('modelo').value }}
              </h6>{{ formEquipamento.get('fabricante').value }}
            </div>
          </div>
        </div>

        <div class="col-12">
          <hr>
        </div>

        <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-6">
          <label>Nº de Série</label>
          <input type="text" formControlName="numero_serie" class="form-control">
        </div>

        <div class="form-group col-md-3 col-sm-12 col-xs-12 col-lg-2">
          <label for="visita">Visita ?</label>
          <select class="form-control" formControlName="visita" id="visita">
            <option value=true>Sim</option>
            <option value=false>Não</option>
          </select>
        </div>

        <div class="form-group col-md-3 col-sm-12 col-xs-12 col-lg-4">
          <label>Valor</label>
          <input type="number" formControlName="valor" class="form-control">
        </div>

        <div class="col-12">
          <hr>
        </div>
      </div>

      <div class="row" [formGroup]="formEquipamento.controls['endereco']">

        <div class="form-group col-md-6 col-sm-6 col-lg-3">
          <label for="cep">CEP</label>
          <input type="text" id="cep" formControlName="cep" class="form-control" [textMask]="{ mask : mascaraCep }" (blur)="buscaPorCep($event.target.value)">
          <span class="has-error"></span>
          <div *ngIf="formEquipamento.hasError()">
            <small>
              <i class="ion-close"></i>
              Requerido!</small>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-6 col-lg-4">
          <label for="rua">Rua</label>
          <input type="text" formControlName="rua" class="form-control" autocomplete="false" id="rua">
        </div>

        <div class="form-group col-md-6 col-sm-6 col-lg-2">
          <label for="numero">N°</label>
          <input type="text" formControlName="numero" class="form-control" autocomplete="false" id="numero">
        </div>
        <div class="form-group col-md-6 col-sm-6 col-lg-3">
          <label for="bairro">Bairro</label>
          <input type="text" formControlName="bairro" class="form-control" autocomplete="false" id="bairro">
        </div>

        <div class="form-group col-md-6 col-sm-6 col-lg-5">
          <label for="cidade">Cidade</label>
          <input type="text" formControlName="cidade" class="form-control" autocomplete="false" id="cidade">
        </div>

        <div class="form-group col-md-6 col-sm-6 col-lg-3">
          <label for="uf">Estado</label>
          <input type="text" formControlName="uf" class="form-control" autocomplete="false" id="uf">
        </div>


        <div class="form-group col-md-6 col-sm-6 col-lg-4">
          <label for="ponto_referencia">Ponto de referência
            <small>(opc.)</small>
          </label>
          <input type="text" formControlName="ponto_referencia" class="form-control" autocomplete="false" id="ponto_referencia">
        </div>

        <div class="form-group col-md-6 col-sm-6 col-lg-8">
          <label for="complemento">Complemento
            <small>(opc.)</small>
          </label>
          <input type="text" formControlName="complemento" class="form-control" autocomplete="false" id="complemento">
        </div>

        <div class="col-md-6 col-sm-6 col-lg-4">
          <button
            class="btn btn-success mt-4 p-2"
            *ngIf="!buttonEditar"
            [disabled]="!formEquipamento.valid"
            (click)="salvarEquipamento()">
            <i class="fa fa-plus"></i>
            Adicionar Equipamento
          </button>
          <button
            class="btn btn-outline-success mt-4 p-2"
            *ngIf="buttonEditar"
            (click)="editarEquipamento()">
            <i class="fa fa-edit"></i>
            Editar Equipamento
          </button>
        </div>

      </div>
    </div>

  </div>
</ba-card>

