<div class="row" [formGroup]="formContatoAtendimento">

  <div class="form-group col-md-4 col-sm-12">
    <input type="text" class="form-control" formControlName="email" placeholder="E-mail">
  </div>

  <div class="form-group col-md-4 col-sm-12">
    <input type="text" class="form-control" formControlName="telefone" placeholder="Telefone">
  </div>

  <div class="form-group col-md-4 col-sm-12">
    <input type="text" class="form-control" formControlName="celular" placeholder="Celular">
  </div>

  <div class="form-group col-md-12 col-sm-12">
    <input type="text" class="form-control" formControlName="observacao" placeholder="Observação">
  </div>

</div>

