<!-- <pre> {{ contratoSelecionado | json }} </pre> -->

<div>
  <ul class="header">
    <li *ngIf="tabActived === 'detalhes'">Dados do contrato</li>
    <li *ngIf="tabActived === 'historico'">Histórico do contrato</li>
    <li *ngIf="tabActived === 'anexos'">Anexos do contrato</li>
    <li *ngIf="tabActived === 'financeiro'">Situação financeira</li>
    <li (click)="fecharModal()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </li>
  </ul>
</div>

<div class="content-modal">

  <ul class="nav-tabs">
    <li class="tab {{ tabActived === 'detalhes' ? 'atived': ''}}" (click)="getTab('detalhes')">Detalhes</li>
    <li class="tab {{ tabActived === 'historico' ? 'atived': ''}}" (click)="getTab('historico')">Histórico</li>
    <li class="tab {{ tabActived === 'anexos' ? 'atived': ''}}" (click)="getTab('anexos')">Anexos</li>
    <li class="tab {{ tabActived == 'financeiro' ? 'atived': ''}}" (click)="getTab('financeiro')">Financeiro</li>
  </ul>

  <div class="m-2">
    <div class="name-of-client">
      <h4 class="mb-1">
        {{ contratoSelecionado?.cliente.nome_razao_social }} <span class="pull-right">{{ contratoSelecionado?.cliente.cnpj_cpf | rgCnpjCpf }}</span>
      </h4>
    </div>

    <div class="col-12">
      <span class="badge badge-warning p-2 m-1" *ngIf="contratoSelecionado?.valor">Nº {{ contratoSelecionado?.numeroContrato}}</span>
      <span class="badge badge-success p-2 m-1" *ngIf="contratoSelecionado?.valor">{{ contratoSelecionado?.valor | currency: 'BRL': true }}</span>
      <span class="badge badge-info p-2 m-1" *ngIf="contratoSelecionado?.ativo">SUBSEQUENTE</span>
      <span class="badge badge-info p-2 m-1">{{ contratoSelecionado?.tipo | uppercase }}</span>
      <span class="badge badge-primary pull-right p-2 m-1" *ngIf="contratoSelecionado?.ativo">ATIVO</span>
      <span class="badge badge-danger pull-right p-2 m-1" *ngIf="!contratoSelecionado?.ativo">INATIVO</span>
    </div>
  </div>

  <div class="padding-16 mt-2">

    <div class="scrollbar-panel-list" id="style-1">

      <div *ngIf="tabActived === 'detalhes'">
        <app-detalhes-modal [contrato]="contratoSelecionado"></app-detalhes-modal>
      </div>

      <div *ngIf="tabActived === 'historico'">
        <app-historico
          [contrato]="contratoSelecionado"
          [propostas]="propostas"></app-historico>
      </div>

      <div *ngIf="tabActived === 'anexos'">
        <app-anexos-modal [contrato]="contratoSelecionado"></app-anexos-modal>
      </div>

      <div *ngIf="tabActived === 'financeiro'">
        <app-financeiro [contratoSelecionadoFinanceiro]="contratoSelecionado.financeiro"></app-financeiro>
      </div>

    </div>

  </div>

</div>
