<div>
  <ul class="header">
    <li>Detalhes do Atendimento</li>
    <li (click)="fecharModal()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </li>
  </ul>
</div>

<div class="content-modal">
  <ul class="nav-tabs">
    <li class="tab {{ tabActived === 'dadosCliente' ? 'atived': ''}}" (click)="getTab('dadosCliente')">Dados Cliente</li>
    <li class="tab {{ tabActived === 'equipamentos' ? 'atived': ''}}" (click)="getTab('equipamentos')">Equipamentos</li>
    <li class="tab {{ tabActived === 'financeiro' ? 'atived': ''}}" (click)="getTab('financeiro')">Financeiro</li>
  </ul>

  <div class="name-of-client">
    <h4 class="mb-1">
      {{ contratoSelecionado?.cliente.nome_razao_social }} - {{ contratoSelecionado?.cliente.cnpj_cpf | rgCnpjCpf }}
    </h4>

    <button type="button" class="btn btn-primary" title="Visualizado">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </button>

    <button type="button" class="btn btn-primary" title="Faturado">
      <i class="fa fa-usd" aria-hidden="true"></i>
    </button>

  </div>

  <div class="situacao padding-16">
    <span class="badge badge-success p-2" >{{ contratoSelecionado?.tipo | uppercase }}</span>
    <span class="badge badge-warning p-2" *ngIf="contratoSelecionado?.valor">{{ contratoSelecionado?.valor | currency: 'BRL': true }}</span>
    <span class="badge badge-primary p-2" *ngIf="contratoSelecionado.ativo">ATIVO</span>
  </div>

  <div class="padding-16 mt-4">
    <h4 *ngIf="tabActived === 'equipamentos'">Equipamentos do contrato</h4>
    <h4 *ngIf="tabActived === 'dadosCliente'">Informações do contrato</h4>
  </div>

  <div class="scrollbar-panel-list" id="style-1">
    <div *ngIf="tabActived === 'dadosCliente'">
      <app-dados-cliente [contratoSelecionadoDetail]="contratoSelecionado"></app-dados-cliente>
    </div>

    <div *ngIf="tabActived === 'equipamentos'">
      <app-equipamentos [contratoSelecionadoEquipamentos]="contratoSelecionado"></app-equipamentos>
    </div>

    <div *ngIf="tabActived === 'financeiro'">
      <app-financeiro [contratoSelecionadoFinanceiro]="contratoSelecionado"></app-financeiro>
    </div>
  </div>

</div>
