<div class="no-print" *ngIf="bloqueados$ | async; let bloqueados">
  <div class="row mb-4">
    <div class="col-4">
        <div class="card-custom ">
          <div class="content-info-card text-center">
            <div class="value">{{ totalRecords || 0 }}</div>
            <div class="title">TOTAL ATENDIMENTOS</div>
          </div>
        </div>
      </div>

    <div class="col-4">
      <div class="card-custom ">
        <div class="content-info-card text-center">
          <div class="value bloqueado">{{ bloqueados.total || 0 }}</div>
          <div class="title">TOTAL BLOQUEADO</div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card-custom">
        <div class="content-info-card text-center">
          <div class="value bloqueado">{{ bloqueados.hoje || 0 }}</div>
          <div class="title">TOTAL BLOQUEADO HOJE</div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="no-print mt-4">

<p-dataTable
[value]="atendimentos$ | async"
[lazy]="true"
[rows]="25"
[paginator]="true"
[totalRecords]="totalRecords"
(onLazyLoad)="loadAtendimentosLazy($event)"
[pageLinks]="5"
[responsive]="true"
[rowStyleClass]="mudarEstiloLinha"
[sortOrder]="-1"
[loading]="carregando"
 loadingIcon="ion-load-a"
 rowHover="true"
 sortField="createdAt"
 styleClass="borderless"
 class="no-print mt-4">
 <!-- [rowTrackBy]="rowTrackBy" -->
 <p-column field="createdAt" header="Criado Em" [filter]="true" [style]="{'width':'70px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.createdAt | date: 'dd/MM/yyyy'}}
    </ng-template>
  </p-column>

  <p-column field="data_atendimento" header="Data" [filter]="true" [style]="{'width':'70px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.data_atendimento | date: 'dd/MM/yyyy'}}
    </ng-template>
  </p-column>

  <p-column field="cliente.nome_razao_social" header="Razão Social/Nome" [filter]="true" [style]="{'width':'150px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.cliente?.nome_razao_social }}
    </ng-template>
  </p-column>

  <p-column field="cliente.cnpj_cpf" header="CNPJ/CPF" [filter]="true" [style]="{'width':'90px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.cliente?.cnpj_cpf | rgCnpjCpf }}
    </ng-template>
  </p-column>


  <p-column field="endereco.bairro" header="Bairro" [filter]="true" [style]="{'width':'100px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.endereco?.bairro | slice: 0:20 }}
    </ng-template>
  </p-column>

  <p-column field="endereco.cidade" header="Cidade" [filter]="true" [style]="{'width':'100px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.endereco?.cidade }}
    </ng-template>
  </p-column>


  <p-column field="endereco.cep" header="Cep" [filter]="true" [style]="{'width':'100px'}">
      <ng-template let-atendimento="rowData" pTemplate="body">
        {{ atendimento?.endereco?.cep | cep }}
      </ng-template>
    </p-column>



  <p-column field="estado" header="Situação" [filter]="true" [style]="{'width':'90px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.estado  | uppercase }}
    </ng-template>
  </p-column>



  <p-column field="tecnico.nome" header="Técnico" [filter]="true" [style]="{'width':'80px'}">
    <ng-template let-atendimento="rowData" pTemplate="body" >
      {{ atendimento?.tecnico?.nome || '' | split: 0 }}
    </ng-template>
  </p-column>


  <p-column field="tipo" header="Tipo" [filter]="true" [style]="{'width':'90px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.tipo }}
    </ng-template>
  </p-column>

  <p-column field="numero_equipamento" header="N. Equipamento" [filter]="true" [style]="{'width':'120px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.numero_equipamento }}
    </ng-template>
  </p-column>

  <p-column field="createdBy" header="Criado por" [filter]="true" [style]="{'width':'60px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento?.createdBy | split: 0 }}
    </ng-template>
  </p-column>

  <p-column styleClass="col-button" [style]="{'width':'30px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      <button
        *ngIf="atendimento.estado === 'bloqueado'"
        type="button" class="info"
        pButton icon="fa fa-lock"
        (click)="checkedLastAtendimento(atendimento)"
        title="Desbloquear"></button>
    </ng-template>
  </p-column>

  <p-column styleClass="col-button" [style]="{'width':'30px'}">
      <ng-template let-atendimento="rowData" pTemplate="body">
        <button type="button" class="info" pButton icon="fa fa-print"(click)="print(atendimento._id)"></button>
      </ng-template>
    </p-column>

  <p-column styleClass="col-button" [style]="{'width':'30px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      <button type="button" class="info" pButton icon="fa fa-info" (click)="abrirModalDeDetalhes(atendimento._id)"></button>
    </ng-template>
  </p-column>

  <ng-template pTemplate="emptymessage">
    <p *ngIf="carregando" >Buscando atendimentos...</p>
    <p *ngIf="!carregando">Nenhum atendimento foi encontrado</p>
  </ng-template>

</p-dataTable>
</div>

<app-atendimento-print
  [atendimentoSelecionado]="atendimentoSelecionado"
  id="print-section"
></app-atendimento-print>
