<p-dataTable 
[value]="atendimentos" 
[responsive]="true" 
[rows]="25" 
[paginator]="true" 
[pageLinks]="5" 
[rowsPerPageOptions]="[5,10,25]"
[rowStyleClass]="mudarEstiloLinha" 
 sortField="createdAt" styleClass="borderless"
[sortOrder]="-1" 
[loading]="carregando"
 loadingIcon="ion-load-a"
 rowHover="true">

  <p-column field="data_atendimento" header="Data" [sortable]="true" [filter]="true" [style]="{'width':'100px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento.data_atendimento | date: 'dd/MM/yyyy'}}
    </ng-template>
  </p-column>

  <p-column field="cliente.nome_razao_social" header="Razão Social/Nome" [sortable]="true" [filter]="true" [style]="{'width':'150px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento.cliente.nome_razao_social }}
    </ng-template>
  </p-column>

  <p-column field="cliente.cnpj_cpf" header="CNPJ/CPF" [sortable]="true" [filter]="true" [style]="{'width':'100px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento.cliente.cnpj_cpf | rgCnpjCpf }}
    </ng-template>
  </p-column>

  <p-column field="tecnico.nome" header="Técnico" [sortable]="true" [filter]="true" [style]="{'width':'80px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento.tecnico.nome | split: 0 }}
    </ng-template>
  </p-column>


  <p-column field="tipo" header="Tipo" [sortable]="true" [filter]="true" [style]="{'width':'150px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento.tipo }}
    </ng-template>
  </p-column>

  <p-column field="createdBy" header="Criado por" [sortable]="true" [filter]="true" [style]="{'width':'100px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      {{ atendimento.createdBy | split: 0 }}
    </ng-template>
  </p-column>

  <p-column styleClass="col-button" [style]="{'width':'27px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      <span *ngIf="atendimento.imagens.length  > 0">
        <i class="animated infinite pulse fa fa-camera" style="color: #212235"></i>
      </span>
    </ng-template>
  </p-column>

  <p-column styleClass="col-button" [style]="{'width':'30px'}">
    <ng-template let-atendimento="rowData" pTemplate="body">
      <button type="button" class="info" pButton icon="fa fa-info" (click)="abrirModal(atendimento)"></button>
    </ng-template>
  </p-column>

  <ng-template pTemplate="emptymessage">
    <p *ngIf="carregando" >Buscando atendimentos...</p>
    <p *ngIf="!carregando">Nenhum atendimento foi encontrado</p>
  </ng-template>

</p-dataTable>
